[2015-01-10 12:38] frhagn opened #1 "Enable filtering of implemented interfaces and base classes"

[2015-01-10 12:40] frhagn opened #2 "Save project file when adding output file(s)"

[2015-01-10 12:43] frhagn opened #3 "Set default tab mode to 'insert spaces' when installing Typewriter"

[2015-01-10 12:43] frhagn opened #4 "Enable 'Smart indenting' for *.tst"

[2015-01-10 12:48] frhagn opened #5 "Delete unmodified files when saving a template"

[2015-01-10 12:50] frhagn opened #6 "Transform template with context menu instead of when saving the template"

[2015-01-10 12:51] frhagn opened #7 "Add support for 'or' in filters"
*.(App|Shared).*Models

[2015-01-10 12:53] frhagn opened #8 "Add item templates for common scenarios"
Knockout models
Angular models
Controllers

[2015-01-10 12:54] frhagn opened #9 "Suspend transformation on build"

[2015-01-10 12:56] frhagn opened #10 "Create README.md"

[2015-01-10 12:57] frhagn opened #11 "Create getting started guide"

[2015-01-10 13:01] frhagn opened #12 "Add support for Visual Studio 2015"

[2015-01-10 13:01] frhagn opened #13 "Add support for Linq filter expressions"

[2015-01-10 13:04] frhagn opened #14 "Add support for custom extension methods"
define Cache(IMethodInfo m)
{
    return m.Attributes.Any(a => a.Name == "Cache");
}

[2015-01-11 00:07] #1 closed

[2015-01-11 00:07] #2 closed

[2015-01-11 00:43] #10 closed

[2015-01-14 11:44] frhagn opened #15 "Bug: Move file adds (1) to the rendered filename"

[2015-01-14 17:18] #15 closed

[2015-01-17 22:37] frhagn opened #16 "Add IsDate property"

[2015-01-17 22:40] #16 closed

[2015-01-18 21:13] frhagn opened #17 "Add support for extension method parameters"

[2015-01-19 10:08] frhagn opened #18 "Add support for template variables"
eg. "define $InnerType = $IsGeneric[$Type[$GenericTypeArguments[$Type]]][$Type]"

[2015-01-19 10:09] frhagn commented on #14
eg. define $HasCacheAttribute = (m) => m.Attributes.Any(a => a.Name == "Cache");

[2015-01-22 17:43] frhagn commented on #14
basic support implemented

[2015-01-22 17:43] #14 closed

[2015-01-26 14:51] frhagn commented on #7
Removed for now. This will be possible with linq expressions instead.

[2015-01-26 14:51] #7 closed

[2015-01-28 17:21] #13 closed

[2015-01-28 17:36] frhagn commented on #9
Seems to be no issues with transforming during build. Closed for now

[2015-01-28 17:36] #9 closed

[2015-03-27 20:32] johannordin opened #19 "add support for using generics when using $Type"
`public MyGenericClass<int>` should give `MyGenericClass<int>` when using `$Type`

`public List<MyGenericClass<int>>` should give `MyGenericClass<int>[]` when using `$Type`

`public class MyGenericClass<T> {
   private T genericProperty
}` should give `T` when using `$Type` for the property.

[2015-03-31 06:39] johannordin commented on #19
solved with pending pull request

[2015-05-18 12:48] #12 closed

[2015-05-18 13:50] frhagn opened #21 "Add support for ASP.NET vNext applications"
Changes in the project structure in Visual Studio breaks the file nesting and metadata features required by Typewriter for vNext projects.

[2015-05-20 07:03] #3 closed

[2015-05-27 08:06] dodyg opened #22 "Optional type"
Is there anyway to generate typescript definition with optional type? This is especially important when trying to generate typescript interfaces automatically

[2015-06-01 07:59] altunga opened #23 "Generic lists"
`List<List<MyClass>>` should give `Array<Array<MyClass>>` when using $Type.
It gives `List[]` not a valid type.

[2015-06-02 15:45] frhagn commented on #22
Hi @dodyg, could you please provide some more details about this? An example would be nice.

[2015-06-02 21:25] dodyg commented on #22
How can I generate

[code]

[2015-06-03 09:04] frhagn commented on #19
resolved with PR #24

[2015-06-03 09:04] #19 closed

[2015-06-08 07:59] frhagn commented on #22
If you want it on all properties, just add the question mark in the template like this:
[code]
Otherwise the problem is how to determine which properties should be decorated. One solution is to use attributes to mark optional properties in your c# classes e.g:
[code]

[code]

[2015-06-08 11:42] dodyg commented on #22
This is exactly what I need. Thank you so much. I just created a dummy Optional attribute and tag the necessary properties with it

[code]

[2015-06-08 11:42] #22 closed

[2015-06-13 21:47] frhagn commented on #18
Solved using custom medthods e.g.
[code]

[2015-06-13 21:47] #18 closed

[2015-06-13 21:51] frhagn opened #25 "Add IntelliSense för custom methods"
C# IntelliSense for custom methods and inline lambda filters

[2015-06-15 07:07] frhagn opened #26 "Add declared custom methods to statement completion list"

[2015-06-17 14:05] johannordin opened #28 "BaseClass returns "Object" for all classes"
all classes returns "Object" as baseClass (since all types inherits object).
should be empty if no inheritance exists.

using template `$Name extends $BaseClass`
`public class WithoutBase { }` should return `WithoutBase extends `. (now returns `WithoutBase extends Object`)
`public class WithBase : WithoutBase { }` should return `WithBase extends WithoutBase`

Thx!

[2015-06-18 09:06] frhagn opened #29 "Guid should return "string" when mapping to TypeScript type"

[2015-06-18 09:14] #29 closed

[2015-06-19 13:42] johannordin opened #30 "Add support for nested classes"
Given class like this:
[code]
With a typescript-template like this:
[code]
Should return this:
[code]

[2015-06-20 07:57] johannordin commented on #30
Might be solved with extension method:
`${ var module = (Class c) => return c.Parent is Class ? ("." + c.Parent.Name) : "";}` ?

[2015-06-22 15:54] frhagn opened #31 "Add support for containing class"
A new property on nested classes, interfaces and enums to access the containing class

[2015-06-22 15:57] frhagn opened #32 "Add support for dot syntax"
To enable simpler access to nested properties eg. ```$Type.IsGeneric[...] ```

[2015-06-22 16:03] frhagn opened #33 "Use standard c# method syntax for custom extensions methods"
In order to implement proper IntelliSense for custom methods we need to change the lambda style syntax of custom methods to a more standard c# method syntax.

So instead of
[code]
The new syntax will look like this
[code]

[2015-06-22 16:15] frhagn opened #34 "Remove type shortcuts from constants, fields, properties and methods"
Since methods can be generic the ```IsGeneric``` property must be removed. In order to have a unified API the other type shortcuts (```IsEnum```, ```IsEnumerable```, ```IsNullable```, ```IsPrimitive```) should also be removed.

[2015-06-22 16:24] frhagn opened #35 "Add support for external extensions"
To enable advanced template scenarios the templating engine should be able to load external dll´s. eg.
[code]

[2015-06-25 10:31] dodyg opened #36 "Inheritance"
Does Typewriter support inheritance?

[code]

[2015-06-25 11:38] frhagn commented on #36
Yes, in the current version you can use ```$BasClass``` e.g.
[code]
I'm currently working on better support for inheritance, nested types and generics for the upcoming 1.0 release :)

[2015-06-25 11:57] dodyg commented on #36
Awesome

[2015-06-25 11:57] #36 closed

[2015-07-20 18:50] #34 closed

[2015-07-20 18:52] frhagn commented on #33
C# 5.0 also allows for
[code]

[2015-07-20 18:52] #33 closed

[2015-07-20 18:52] #30 closed

[2015-07-20 18:52] #31 closed

[2015-07-20 18:53] #28 closed

[2015-07-20 18:53] #23 closed

[2015-07-20 18:53] #26 closed

[2015-07-21 13:41] frhagn opened #38 "Improve error handling"
Improve error handling and log meaningful messages to the Typewriter console output

[2015-07-21 13:42] #25 closed

[2015-07-21 13:47] frhagn opened #39 "Highlight syntax errors in the template editor"
Syntactical errors e.g. missing semicolons, invalid identifiers etc. in code blocks and lambda filters.
Also highlight missing closing braces.

[2015-07-21 15:47] frhagn opened #40 "Make the TemplateCodeParser context aware"
Ensure that all braces have a matching open and close brace. Throw error if they don't.
Take lambda filter types from the current context.

[2015-07-22 23:12] #39 closed

[2015-07-29 21:48] dodyg opened #41 "Visual Studio RTM"
This extension stops working on the RTM version of Visual Studio 2015. it might be just my installation. Is there any log that I can check?

[2015-07-30 11:02] frhagn commented on #41
Hi @dodyg!

Support for Visual Studio 2015 RTM is coming in Typewriter 1.0 which will be released within a couple of weeks. I have published a beta version under Releases here on GitHub. It's almost feature complete and it's pretty stable so you should be able to use it until the final version is released.

There are a couple of changes to the metadata model and custom methods are declared using p

[2015-07-30 11:45] dodyg commented on #41
I receive this error 13:44:30 ERROR: Template error: CS0825 The contextual keyword 'var' may only appear within a local variable declaration or in script code

[code]

[2015-07-30 11:52] dodyg commented on #41
Ok this works

[code]

[2015-07-30 12:34] dodyg commented on #41
OK I solve the issue by using a custom method as follows

[code]

[2015-07-30 12:52] dodyg commented on #41
There's more problem. This template cannot handle enum
[code]
[code]

[2015-07-30 18:09] frhagn commented on #41
I've published an updated beta release (0.9.21) that resolves the enum bug.
The issue with `$BaseClass` is by design, so if you want to extend `Object` your extension method solution is the way to go.

Please give it a try and let me know if there are any more issues :)

[2015-08-01 20:14] jonstelly opened #42 "Reserved word C# @... syntax needs @ removed"
If you have a C# method with a parameter that starts with a @ to use a reserved word:

    void ProcessEvent(SomeEvent @event) { ... }

The @ sign needs to be removed for $Name, etc...

[2015-08-01 21:19] frhagn commented on #42
Hi @jonstelly

I'll look into that. Meanwhile you could use a custom method to solve this issue, e.g.
${
    var SafeName = (Parameter p) => p.Name.Trim('@');
}

And then use $SafeName instead of $Name in your template.

[2015-08-02 09:59] dodyg commented on #41
OK the enum issue is fixed. Thank you.

[2015-08-05 21:32] jonstelly opened #43 "Convert dynamic properties to any?"
Seems like a sane type mapping:

    public class Thing {
        public dynamic Value { get; set; }
    }

Converted to:

    public class Thing {
        Value: any;
    }

[2015-08-06 14:43] frhagn commented on #43
@jonstelly, I agree I'll implement this.

[2015-08-06 22:09] frhagn commented on #43
Fixed with PR #44

[2015-08-06 22:09] #43 closed

[2015-08-06 23:28] frhagn commented on #42
Moving this to 1.1

[2015-08-06 23:29] frhagn commented on #8
Moving this to 1.1, need more time to get it right

[2015-08-18 21:35] #41 closed

[2015-08-23 20:07] #11 closed

[2015-08-24 05:05] randre70 opened #47 "Add support for events and delegates"
Please add the full support for all declaration types including events and delegates.
Currently, I use TypeWriter to generate a custom websocket wrapper which is able at the javascript side to invoke methods on the server (exposed using typewriter) and to listen to events raised at the server end and invoke subscriber functions (handwriten but could be exposed by typewriter as well).

Thanks so mu

[2015-08-24 19:16] frhagn commented on #47
Hi @randre70 I'll look into that.
If possible, it would be great if you could post an example of the code you're using.

[2015-08-26 07:59] frhagn opened #48 "Add support for creating definition files *.d.ts"
A possible solution would be to use the name of the template to determine the file extension for the output files, e.g. Models.d.tst whould create *.d.ts output files.

[2015-09-01 13:06] frhagn commented on #8
Added examples to the website instead.

[2015-09-01 13:06] #8 closed

[2015-09-01 13:10] frhagn opened #49 "Render all classes in solution"
Try to remove limitation to referenced projects, at least for roslyn-based generation.

[2015-09-01 13:11] frhagn opened #50 "Add a preview pane to the template editor"

[2015-09-01 13:14] frhagn opened #51 "Add extensions for ASP.NET MVC Controllers"
Similar to the Web API extensions e.g. `Url`, `Route`, `RequestData` and `HttpMethod`

[2015-09-01 13:15] plasmaboyer opened #52 "Add $Dependencies that references all dependent classes"
[code]

[code]

[2015-09-01 13:16] frhagn opened #53 "Add extensions for Nancy Modules"
Similar to the Web API extensions e.g. `Url`, `Route`, `RequestData` and `HttpMethod`

[2015-09-01 13:45] frhagn commented on #52
Hi @plasmaboyer.
Interesting idea to extract the dependencies from a class. I think this is difficult to implement in a reliable way, especially with CodeDom, but it might be possible.

Maybe you could try something like this to solve it instead?
[code]

[2015-09-03 14:51] #47 closed

[2015-09-03 14:57] randre70 commented on #47
Thanks a lot, I can't wait to test this and will provide an example if possible. I'm supposed to be on holidays for 3 weeks from next wednesday ;)

[2015-09-07 00:54] plasmaboyer commented on #52
Thanks @frhagn for your answer.
It works but not recursively : if $Type has a property with an non-generated type, it does not work

I'm trying to create a custom method that create a Dictionary of classes that must be generated.

[2015-09-07 18:44] johannordin opened #55 "Add support for creating TypeScript JSX"
With TypeScript 1.6 knocking on the door (already in beta), typescript has support for React's JSX-syntax via .tsx-files.

[ts 1.6](http://blogs.msdn.com/b/typescript/archive/2015/09/02/announcing-typescript-1-6-beta-react-jsx-better-error-checking-and-more.aspx)
[issue on typescript](https://github.com/Microsoft/TypeScript/pull/3564)

[2015-09-08 06:36] frhagn commented on #55
@johannordin great idea!

[2015-09-14 08:33] johannordin opened #56 "Array.IsPrimitive with Roslyn throws nullreference exception"
If I have an array (`[]`) type in my C#-code an try to access `$Type.IsPrimitive` in VS 2015 i get the following exception:
[code]

[2015-09-16 16:35] frhagn commented on #56
Resolved by PR #57

[2015-09-16 16:35] #56 closed

[2015-09-22 22:27] cwoolum opened #58 "Debugging templates"
Hey All,

I was wondering how to debug these templates? I'm writing some custom extension methods and i'm not getting a lot of feedback on why the code is not generating.

Thanks!

[2015-09-23 03:18] johannordin commented on #58
Hey @cwoolum! There is a special output for typewriter that you can use (in the output window select "typewriter" instead of "build" or whatever was previously selected), it usualy gives you some good hints about whats wrong. Good enough? You can also use try-catch in your extension and output the exception to your generated files.
Good luck!

[2015-09-23 04:13] cwoolum commented on #58
Thanks Johan! I was getting vague error messages but I'll definitely check out the try/catch.

[2015-09-23 04:13] #58 closed

[2015-09-23 16:40] cwoolum opened #59 "Some of the templates are not working"
I tried using the angular and model templates and some of the helpers don't seem to be working.

I'm not seeing any references to `$rootnamespace$` in the code.

[2015-09-23 17:16] frhagn commented on #59
Hi @cwoolum,
What version of Typewriter are you using? The item templates in for angular and models in the source repo are outdated at the moment. Fixing them are on my todo list, but there are some other things that needs work first...

Check out http://frhagn.github.io/Typewriter/pages/examples.html for some more current usage examples, there you can also find an angular example.

Hope this work

[2015-09-23 17:19] frhagn commented on #58
I'm not sure if it's possible to implement debugging, but it would definetly be a nice feature. I'll look into that.

[2015-09-23 17:27] cwoolum commented on #59
Hey Fredrik, I'm using the newest version but digging through the code, I
found those templates. I liked them because they generated the automated
module names. It seems like the old templates provided a lot more features.

On Wed, Sep 23, 2015 at 10:16 AM, Fredrik Hagnelius <
notifications@github.com> wrote:

[2015-09-23 17:56] frhagn commented on #59
I see... I'm afraid `$rootnamespace$` is just a standard placeholder in Visual Studio item templates that is replaced by a calculated namespace when the template is added to the project. So it's not a Typewriter property.

Other than that the features provided by the WebApi extensions on the examples page (`$Url`, `$HttpMethod` and `$RequestData`) are very similar to the angular item template. Tak

[2015-09-24 10:16] frhagn opened #60 "Add support for output file name configuration"
Add support for creating TypeScript JSX *.tsx (#55)
Add support for creating definition files *.d.ts (#48)
Add support for adding prefix and suffix to file names

[2015-09-24 10:16] frhagn commented on #55
Moved to #60

[2015-09-24 10:16] #55 closed

[2015-09-24 10:16] frhagn commented on #48
Moved to #60

[2015-09-24 10:16] #48 closed

[2015-09-24 19:41] frhagn commented on #53
This one is impossible at the moment.

[2015-09-24 19:41] #53 closed

[2015-09-25 23:23] cwoolum commented on #59
Aah, I see. I'll take a look at using reflection to get the namespaces of the classes.

[2015-09-27 07:32] frhagn commented on #59
If you're just interested in the namespaces of the classes there's a `$Namespace` property you can use.

[2015-09-29 15:06] cwoolum commented on #59
So I ended up just inverting the template slightly and it worked for me.

[code]

[2015-09-29 15:06] #59 closed

[2015-09-29 15:23] frhagn commented on #59
Cool, nice one!

[2015-09-29 15:24] cwoolum opened #61 "Best way to keep templates out of source control"
Hey Guys,

I've been playing with the templates a bit and I've run into a small issue. The files generated by the templates get picked up by TFS and after checking them in, the templates can no longer modify them unless you manually check all of the generated files out.

What would be a better approach; trying to create a .tfignore or have Typewriter check out files before updating them? I'm tryin

[2015-09-29 16:53] cwoolum opened #62 "Cannot use custom method in $Parameters collection"
I'm trying to use a custom method in $parameters but for some reason it is not getting converted.

[code]

My method signature is ```string CalculatedType(Type m)```. Is this the wrong signature?

[2015-09-29 17:03] frhagn commented on #62
Since the custom method is called from within a $Parameters scope the method signature must be `string CalculatedType(Parameter p)` (in the method you can use `p.Type` to get the type)

[2015-09-29 17:09] frhagn commented on #61
Hm, interesting problem. I've used Typewriter in a couple of TFS projects without any issues, but only using local workspaces.
This is definetly someting Typewriter should handle seamlessly, I'll try to reproduce the issue, it would be great if you could you provide som more details on your dev setup? E.g. Visual Studio version, TFS version, workspace type (local oc server).

[2015-09-29 17:20] cwoolum commented on #62
That worked! Thanks!

[2015-09-29 17:20] #62 closed

[2015-09-29 17:21] cwoolum commented on #61
Visual Studio 2015
TFS 2013
Server Workspace

[2015-09-29 17:24] cwoolum commented on #61
Here's an exception
[code]

[2015-09-29 18:20] frhagn commented on #61
Thanks Chris!
I was able to reproduce the issue, and as I suspected it's related to the TFS Server Workspace. When using a server workspace checked-in files are marked as read-only and needs to be checked out before they can be edited.
I've added a check-out function in Typewriter that seems to resolve the issue, but I need to do some more testing before I publish it.

[2015-09-29 18:27] cwoolum commented on #61
Aah, awesome! Thanks!

On Tue, Sep 29, 2015 at 11:20 AM, Fredrik Hagnelius <
notifications@github.com> wrote:

[2015-09-30 15:43] frhagn commented on #52
Hi @plasmaboyer!
I've added a $IsDefined property in Typewriter 1.1, so now you could try someting like this to solve your problem:
[code]

Hope it helps!

[2015-09-30 15:43] frhagn commented on #42
Resolved i Typewriter 1.1

[2015-09-30 15:43] #42 closed

[2015-09-30 15:55] frhagn commented on #61
I just published Typewriter 1.1 that should resolve the issue. Please give it a try :)

[2015-09-30 17:52] cwoolum commented on #61
Works! Thanks!

[2015-09-30 17:52] #61 closed

[2015-09-30 18:03] cwoolum commented on #52
I tried this and I'm running into an issue where if i use a model in multiple controllers, it generates the definition multiple times.and breaks... I think it needs to go one level higher. Is it possible to go up to the $Classes level?

[2015-09-30 18:57] frhagn commented on #52
You can go up to the file level, but that doesn't really solve much in this case. Since the templates are rendered one file at a time, Typewriter doesn't know about anything outside the current source file.

My recommended solution is to use two separate tst templates with their own specific purpose; one for creating the controllers and one for the models.

[2015-09-30 19:31] cwoolum commented on #52
I am using a separate models templates but I don't want to generate typescript definitions for every model in the namespace. It would be ideal to only generate models for the Types returned by the controllers and their referenced types. I'm currently using an attribute to determine if a Class should be generated but its annoying to have to add the attribute to every Class I intend to send to the c

[2015-10-01 09:23] frhagn commented on #52
I agree, that would be a nice feature, but I can't see any way to implement it at the moment. I'll try to work someting out, but I don't expect to be able to solve this anytime soon, sorry.

[2015-10-01 20:38] plasmaboyer commented on #52
Does this refactoring could work ? (code not tested) :

[code]

[2015-10-02 23:08] cwoolum commented on #52
unfortunately, that would still produce duplicates

[2015-10-03 04:59] cwoolum commented on #21
I think there is also an issue related to the way dependencies are referenced as well. I can't seem to generate anything for referenced vNext class libraries. Should this be a separate issue?

[2015-10-14 09:47] cannehag opened #63 "Support for none reference projects"
Hi, we need support for generating ts files in a project without adding a reference to another project.
Example, in Project 2 we need to generate ts files for content in Project1 WITHOUT having a reference to Project1:
${
   import "Project1";
}

This import would simply include the Project1's file in the generation without needing a project reference.

[2015-10-14 10:32] frhagn commented on #63
Hi @cannehag,
Great idea! I'm currently working on a settings API similar to your solution, and this could definetly be included there.

[2015-10-14 10:39] cannehag commented on #63
Cool, let me know when you have something working then :)

[2015-10-14 14:27] philcarbone opened #64 "Add support for OData Controllers"

[2015-10-22 23:16] cwoolum opened #66 "Steps to contributing"
I was wondering if there is any sort of documentation or some sort of information/tutorials on creating a Roslyn plugin like this? I would definitely be interested in contributing but I have no idea where to start.

[2015-10-23 11:57] frhagn commented on #64
Hi @philcarbone,
Could you please provide som more info on this issue?

[2015-10-23 12:28] frhagn commented on #66
Hi Chris,
Cool, any help is appreciated!
I've been meaning to write some kind of contributing guide, but I haven't got around to it yet.

Here are some links to help you get started:
https://github.com/madskristensen
https://www.visualstudio.com/en-us/integrate/explore/explore-vside-vsi.aspx
https://msdn.microsoft.com/en-us/library/dd885118.aspx
https://github.com/dotnet/roslyn/wiki/Samples-and-Wa

[2015-10-23 13:02] philcarbone commented on #64
Sorry for the vagueness. I was thinking that using a OData controller as an input for a "template" would be really powerful too. Since OData controllers have an assigned entity, it would be really powerful to have TS files generated to match the exposed entities. Or even better, read an OData feed and produce the TS objects that match that feed.

I know this could be done via naming convention too

[2015-10-24 21:07] frhagn commented on #63
@cannehag, I just released Typewriter 1.2 which resolves this issue. You can now add a template constructor to configure settings om the template.
[code]

[2015-10-24 21:07] #63 closed

[2015-10-24 21:13] frhagn commented on #60
Resolved in Typewriter 1.2.

To set the output file extension, add a template constructor like this:
[code]

You can also add a custom filename factory to customize the entire output filename.
[code]

[2015-10-24 21:13] #60 closed

[2015-10-24 21:14] frhagn commented on #49
Resolved in Typewriter 1.2

[code]

[2015-10-24 21:14] #49 closed

[2015-10-24 21:15] frhagn commented on #38
Resolved in Typewriter 1.2

[2015-10-24 21:15] #38 closed

[2015-10-24 21:16] frhagn commented on #6
Closing this one without action.

[2015-10-24 21:16] #6 closed

[2015-11-09 22:12] OniBait opened #68 "Utilize an existing templating engine vs. a new custom one"
Would be extremely nice to be able to leverage one of the existing templating engines that are out there for .NET instead of the custom new one you have. By utilizing something like the RazorEngine (https://github.com/Antaris/RazorEngine), it would add a lot of flexibility to what one could do with the templates.

[2015-11-12 13:44] LeeCheneler commented on #4
This would be a help, along with smart new lines.

 It isn't immediately clear that this will put all methods on the same line:
 `$Methods[$name: ($Parameters[$name: $Type][, ]) => $Type;]`

And this will put them on new lines:
` $Methods[

$name: ($Parameters[$name: $Type][, ]) => $Type;]`

Sorry about the poor formatting... Can't get a single new line to work in the Markdown for some reason.

[2015-11-18 14:54] frhagn commented on #68
Hi @OniBait. Most template engines (that I'm aware of) including Razor isn't really suited to generate C-like output such as TypeScript. It's hard to differentiate the C# statements from the TypeScript ones. This is why I choose to use a custom template syntax.

I'm thinking about adding the possibility to load external references from Typewriter templates. If/when that functionality is implemente

[2015-11-26 09:43] Gambero81 opened #69 "No generation for public neasted class"
Hi, i'm using TypeWriter to generate ts files from cs class, now i have this class:

    public static partial class SmartUtils
    {
        public class TestModel
        {
            public string Test { get; set; }
        }
    }

and i cannot find a way to generate ts of TestModel class...
i tried this template but dont work...

    $Classes(TestModel)[
    export class $Name {
        $Pro

[2015-11-26 14:24] frhagn commented on #69
Hi @Gambero81,
You can access nested classes via the `$NestedClasses` property e.g.
[code]

[2015-11-27 09:42] Gambero81 commented on #69
hi, thanks for your reply, i tested your template and it's work only if my class in inside a namespace,
i have some classes declared without namespace and in this case no code is generated, there is a solution to handle translation of classes who not have namespace?
Thanks

[2015-11-28 15:54] Gambero81 opened #70 "Suggestion: add support for comments"
It would be great to add support for copy comments from server side cs class / interface / methods / properties to client generated typescript files!

[2015-11-28 17:04] Gambero81 commented on #69
1. if a class is declared without namespace, no ts file is generated

[2015-11-28 17:15] Gambero81 commented on #69
2. suppose to have this 2 files in the project:

File1.cs:
   namespace Utils
   {
      public static partial class SmartUtils
      {
         public class NestedClass1
         {
            public string Property1 { get; set; }
         }
      }
   }

File2.cs:
   namespace Utils
   {
      public static partial class SmartUtils
      {
         public class NestedClass2
         {

[2015-12-01 12:33] stombeur opened #71 "when using .. in Template constructor to output files to another folder, a .. folder is created in the project inside VS"
unfortunately, when I deleted that folder in my project in VS, a fewof my folders and files on disk were deleted and I just lost half a days work.

That's not your fault of course, but it's probably something that needs to be looked at

repro:

in the Template constructor do like this:

[code]

the result is that you will get new folders in your project called .. etc
if you right click that folder

[2015-12-01 12:35] stombeur commented on #71
what I was trying to do is to output the generated files in another location on disk.
Also, when in the Template constructor you do like this:

[code]

the .tst file becomes invalid somehow and cannot be parsed anymore. But that's probably another, unrelated issue.

[2015-12-02 15:25] frhagn commented on #71
Hi @stombeur,
Saving rendered files in other folders isn't supported. Each template keeps track of it's generated files by looking at it's own child nodes in the solution explorer. If you save files in other places they won't be tracked.

The way to do it is to place the .tst file where you want the rendererd files.

[2015-12-02 16:03] frhagn commented on #70
Hi @Gambero81,
Great idea! I'll look into that.

[2015-12-02 16:17] frhagn commented on #69
Filters are independent from each other, but I agree that this behaviour is bad in this case.
You could try something like this instead:
[code]

[2015-12-02 17:38] stombeur commented on #71
OK, it's just that the rendered files need to be in an asp.net 5 project and I don't think typewriter supports that yet. I've got the normal way to work and I just copy the files over to the other project.

Anyway, great job on the extension, it's really useful. Thank you!
But you should definitely try out my first comment, with the .. there are weird folders created in the VS project and it's a r

[2015-12-10 11:08] Gambero81 commented on #69
Hi @frhagn this template seem to work:

    $Classes[$NestedClasses(nc => nc.ContainingClass != null && nc.ContainingClass.Name ==    "SmartUtils" && nc.Name == "NestedClass1")[
    module ObjectModel
    {
        export class $Name
        {$Properties[
            public $Name: $Type;]
        }
    }]]

but the problem now is that i have some classes without namespace, in this case there is no

[2015-12-13 16:41] frhagn commented on #69
Hi @Gambero81,
I'm afraid there's no workaround for this at the moment. Typewriter requires a namespace to find classes in the source files, and it's unaware of partial classes.

I'll look into implementing support for both of theese issues.

[2015-12-13 16:43] frhagn commented on #71
Thanks @stombeur! I'll have a look at it.

[2015-12-14 14:01] Gambero81 commented on #69
Thanks @frhagn, if you can, write on this issue when you will fix this problems so i can i notice the changes and update my Typewriter version

[2015-12-14 20:06] mrzappit opened #73 "Does not work in Windows Class Library"
Is there any way to make this work in a Windows Class Library?  I got it to work in a Web project, but if I have a Windows Class Library project, it doesn't do anything.  I just keep getting unhandled exceptions.

[2015-12-15 09:12] frhagn commented on #73
Hi @mrzappit,
Could you provide some more info on this issue? It should work the same in a Windows Class Library as in a Web Project.

What exceptions are you getting?
Which Visual Studio version are you using?
What does the tst template look like?

[2015-12-15 14:31] mrzappit commented on #73
I apologize.  I couldn't figure out why the same template was working for a Web project but not for a Windows Class Library, so I assumed that was the problem.  It turns out, we just weren't properly setting the location of the source files.

[2015-12-15 14:31] #73 closed

[2015-12-15 16:30] frhagn commented on #50
bad idea

[2015-12-15 16:30] #50 closed

[2015-12-15 16:31] #68 closed

[2015-12-15 16:31] #66 closed

[2015-12-29 21:55] floatas opened #74 "Option to force template rendering"
Now and then I find that my rendered files are out of date, and only way to make them re-render is to update template (by adding new line). It doesn't happen so often and is hard to debug. I think option to force rendering would be nice, maybe right click on template ?
I could help to implement this feature, but would like to get some input on it.

[2016-01-07 09:17] frhagn commented on #74
Hi @floatas,
Sounds like a great idea, and awesome if you'd like to help implement it!
Right-click on a tst file in the Solution Explorer and then "Render Template" from the context menu.

[2016-01-07 09:34] JonasSamuelsson commented on #5
is this something that will be done in the near future?

[2016-01-08 05:45] jonstelly opened #75 "Output to single TS file?"
I'd like to have one .ts file generated per .tst file.  So if I had a single .tst template for all classes in NamespaceXYZ, instead of one .ts file for each class in that namespace, I'd like a single .ts file that contained all of the classes.

I don't think that's currently possible, but maybe I'm just missing it?

[2016-01-08 10:15] frhagn commented on #75
This is not possible at the moment (other than putting all C# classes in a single file).
It would be a nice feature, but it's a hard one to implement, so maybe in a future version...

[2016-01-08 10:21] frhagn commented on #5
It requires some major changes to the rendering infrastructure so it probably won't be fixed for a while. For now you'll have to delete out-of-sync files manually, sorry.

Is this a big issue for you?

[2016-01-09 23:07] ArieJones opened #76 "ASP.NET 5 Support"
I am trying to setup an ASP.NET project to use typewriter for generating out my typescript interfaces for my data models, however, even though it says that rendering is complete...it never renders the files. My project structure is

Web (MVC 6)
-- Entities (Class Library - Package Version)
-- Services (Class Library - Package Version)

I am trying to generate code based off of the Entities project

[2016-01-10 04:29] ArieJones commented on #76
Ok, after pulling down the code and checking on a couple of things.... it looks like it is coming up with an error ....(see below)....

23:11:34.349 ERROR: Error processing queue: Exception has been thrown by the target of an invocation.
   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.RuntimeMethodInfo.Uns

[2016-01-10 08:15] VaronisDNMacClient opened #77 "Set the path of the generated ts files"
Hi,
I've seen that **TypeWriter.Configuration.Settings** enables you to manipulate the generated files' filename.

But is there any way to set the path of the generated files?
Currently I'm referencing my **tst** from outside of the project, and I would like the generated ts to be placed besides it (and not in my project folder).

Thanks

[2016-01-10 14:31] frhagn commented on #77
Hi @VaronisDNMacClient,
Saving output files outside the project is not supported. (See issue #71 for more info in this).
Maybe you could try to use some kind of file system watcher to copy the rendered files to the external folder?

[2016-01-10 15:24] frhagn commented on #76
Hi @ArieJones,
I'm looking at adding support for ASP.NET 5, but as you've noticed there are a couple of issues to resolve i order to make it all work.
One issue is the lack of support for custom meta-data for the rendered files in the new project system. The other major issue is the lack of support for nesting the rendered files under the templates.
I'm currently testing out some alternative solut

[2016-01-10 16:30] ArieJones commented on #76
Yeah, I am sure it has been a real PIA. What's sad is that the system confirms that the property is "there" then fails on writing.

I found that if I comment out this line for writing the property value out to the file then everything generates..

https://github.com/frhagn/Typewriter/issues/76

But it is pretty disconcerting that they are treating all of these types of generators a 'non-important'

[2016-01-10 17:21] ArieJones commented on #76
Ok, so for your #2 feature.. .they do have some sort of heuristics based process that we will be able to arbitrarily nest one file under another type of file. This was discussed in the last community standup on just 1/5 ...so at least things look a little brighter.

[2016-01-13 13:38] specialwork opened #78 "Error rendering template ... if enum is type of byte"
Getting the following error, if the enum is type of byte.

Error rendering template. Cannot get identifier 'Value'. Ein Aufrufziel hat einen Ausnahmefehler verursacht.

    public enum ValueStatus : byte
    {
        /// <summary>
        ///     Missing value.
        /// </summary>
        F = 0x01,

        /// <summary>
        ///     Disturbed value.
        /// </summary>
        G = 0x02,

[2016-01-14 14:09] frhagn commented on #78
Hi @specialwork,
The underlying problem is the use of hexadecimal values. I'll fix this in the next release.
Meanwhile you can use interger values instead e.g.
[code]

[2016-01-14 15:58] frhagn commented on #69
Hi @Gambero81,
I've added support for source files without namespace in Typewriter 1.3.
I still haven't foud a good solution to the partial class issue, so for now you'll have to manually add a filter that matches only one of the partials to get the proper behaviour e.g.

[code]

[2016-01-14 15:58] #69 closed

[2016-01-14 15:58] #71 closed

[2016-01-14 15:58] #77 closed

[2016-01-14 15:58] #78 closed

[2016-01-14 15:59] frhagn commented on #21
Duplicate of #76

[2016-01-14 15:59] #21 closed

[2016-01-14 16:08] frhagn commented on #64
I see. You can use Typewriter with any C# class so OData Controllers are already supported.
Using an OData feed to produce TypeScript classes is not supported, and I think that's a bit outside the scope of this extension.

[2016-01-14 16:08] #64 closed

[2016-01-14 17:57] specialwork commented on #78
Hi frhagn, thank you fort your Support. I'll try using integer values instand of hex values.

[2016-01-14 18:13] frhagn commented on #78
No problem.
I've added support for hexadecimal enum values in Typewriter 1.3 so if you upgrade to the latest version it should work without changing to integers.

[2016-01-14 20:29] kamranayub opened #79 "Update CamelCase helper to support abbreviation-prefixed property names"
Given a property name like `IPAddress`, the camel case should be `ipAddress`.

This is the equivalent JSON.NET `ToCamelCase` helper:

[code]

[2016-01-14 20:45] frhagn commented on #79
Thanks @kamranayub,
I'll change this in the next version

[2016-01-14 20:53] kamranayub commented on #79
No problem, as a workaround I can use a custom function :+1:

[2016-01-15 15:32] hamtamtots opened #80 "OutputFilenameFactory no longer supports changing path"
We were using TypeWriter in this fashion:

    settings.OutputFilenameFactory = file => {
            return $"generatedHubs/{hubClass}.ts";
        };

Which worked quite well in new xproj projects, as the project files now reflect the filesystem, therefore the new files were being added to the specified path.

There has been a recent change to replace "invalid" characters ('/' to '-') which has

[2016-01-15 16:14] frhagn commented on #80
Hi @hamtamtots,
Saving the output files in other folders can result in some unstable behaviour. There's been some issues where people using this approach have experienced lost files and folders (see #71). This is why I made the change to replace the "invalid" characters.

I'm looking at adding support for xproj and some more flexibility for the file management, but for now it's not suported.

Anyw

[2016-01-15 17:03] LeeCheneler commented on #80
Instead of replacing the invalid characters with a '-' could you not just throw an exception? Then we can respond to the exception and fix our naming or whatever needs to be done.

I don't see '\\' and '/' being invalid, I think being able to change the output directory is vital if this tool is to realize it full potential. Keeping all generations under the .tst file will make it awkward when buil

[2016-01-18 11:12] frhagn commented on #80
Issue resolved in 1.3.1 by removing the replace for '/' and '\'. Still not "officially" supported though

[2016-01-18 11:12] #80 closed

[2016-01-18 11:13] frhagn commented on #79
Resolved in 1.3.1

[2016-01-18 11:13] #79 closed

[2016-01-20 11:35] VaronisDNMacClient opened #81 "Set Build Action for the generated files"
Is it possible to set the build action for the generated files?
The **tst** file is set with *'None'* but the generated **ts** files are set with *'TypeScriptCompile'*
Any way to set them also to *'None'* in the **tst** configuration?

[2016-01-21 10:48] frhagn commented on #81
No, it's not possible to configure the build action at the moment (1.3.1).
I'll look at adding support for it in a future version.

[2016-01-21 12:16] #81 closed

[2016-01-21 19:49] JohnGalt1717 opened #82 "Object reference not set to an instance of an object. Template:..."
Hi there. I added Typewritter to my .NET 4.6 project (As an asideTypewriter tst files don't show up as something you can add to a Portable library which is a common thing for DTOs). I changed nothing and the project was a standard project, not portable and the above error occurs as soon as the file is saved as is.
Nothing gets generated. I'm using VS.net 2015 Update 1.

[2016-01-21 20:32] frhagn commented on #82
That's wierd.. There should be an error log in the output window, could you post it here?

[2016-01-23 19:51] kamranayub commented on #75
I was just thinking about opening an issue about this--I agree it definitely creates a ton of files if you have a lot of models and it'd be nice to just concat the output into a single file :+1: Couldn't there be a post-build step in the template pipeline that just concats all the output?

[2016-01-25 06:58] johannordin commented on #75
While I agree it might be a nice feature, but what happens when a class is changed? Either TypeWriter must find the output for that one class and change it (seems hard and troublesome), or re-render all the classes again (I imagine this is a costly action, depending on your tst-filter).
@frhagn what is the cost of writing to file vs generating file content?

[2016-01-25 08:48] frhagn commented on #75
There are two main issues to get this working. As @johannordin points out, when a file changes it needs to update a part of the output file or re-render all files. The other issue is tracking the path of the source files which at the moment only works for mapping a single output file to a single source file.

I'm working on support for this, but it's a major change so it'll be a while..

[2016-01-25 12:28] FreeFrags opened #83 "IncludeReferencedProjects not working?"
Hi
I was trying to generate TS files for my current project and a project which is referenced.

this is my configuration so far no errors shown but no files are generated. Im aware that i better set a proper filter as i will now generate files for all classes in referenced and my own project.

But this configuration doesnt seem to generate the TS for my referenced projects any ideas?

[code]

[2016-01-25 14:43] FreeFrags commented on #74
Created a PR for this feature:
https://github.com/frhagn/Typewriter/pull/84

[2016-01-25 14:48] frhagn commented on #83
Hi @FreeFrags,
I just tried your template and it works fine...
Could you provide som info on your environment? E.g. Visual Studio version, Project type, Typewriter version etc.
Is there any log info in the Output window if you select "Typewriter" in "Show output from"?

[2016-01-25 14:54] FreeFrags commented on #83
Im using VS 2015 professional
Typewriter version 1.3.1

My C# project is not in the same solution as my TS project but only referenced should this work?

[2016-01-25 15:03] frhagn commented on #83
Ok, I think that's the issue... All projects must be in the same solution since Typewriter reads the metadata from the C# source files and not the compiled dll:s.

[2016-01-25 15:04] FreeFrags commented on #83
Allright thats too bad :) but thank you for the quick reply

[2016-01-25 15:06] frhagn commented on #83
No problem :)

[2016-01-25 15:06] #83 closed

[2016-01-25 16:10] frhagn commented on #74
Merged.

[2016-01-27 09:20] FreeFrags opened #85 "How do you use this template?"
https://github.com/frhagn/Typewriter/blob/d29cbade9b6be4d29b8e4b83764a9eb82a41064f/src/ItemTemplates/Models/Models.tst

$rootnamespace$ for example doesnt get rendered to anything

$IsEnumerable doesnt either:
public $name: $Type = $IsEnumerable[[]][$Default];]

could you please provide a small example?

[2016-01-27 11:20] Gambero81 commented on #69
Hi @frhagn , thanks for your reply, glad to know TypeWriter updates!
I'm still searching for a solution for partial classes, i tried your code but without success:
In particular the filter:

    ((File)nc.ContainingClass.Parent).Name != "File2.cs"

throw an error

    "Error rendering template. Cannot apply filter to identifier 'NestedClasses'."

so i replaced with:

    nc.ContainingClass.Parent.

[2016-01-27 12:00] FreeFrags commented on #85
I think i get it, when im done ill post a template we can use as a default maybe?

[2016-01-28 09:20] frhagn commented on #85
It's an old template from a previous version that isn't published anymore, I've just forgotten to remove it  from the source.. I'vd decided to publish template examples on the [Typewriter web site](http://frhagn.github.io/Typewriter/pages/examples.html) instead of adding item templates to the extension itself since it's easier to keep everyting up-to-date this way.

`$rootnamespace$` isn't a Typew

[2016-01-28 09:23] frhagn commented on #69
It's probably a null reference issue, try something like this: `((File)nc.ContainingClass?.Parent)?.Name != "File2.cs"`.

[2016-01-28 10:03] FreeFrags commented on #85
Thanks for the explaination ill keep you updated

[2016-01-28 11:33] FreeFrags commented on #85
how would you get the value of the following
[code]
Until now i got this far which would set the default for the type. but this example has a value assigend how do i check if it has one and if so set that one instead of the default?

[code]

[2016-01-28 13:46] Gambero81 commented on #69
Hi @frhagn, unfortunately seem not a null reference issue,
using     ((File)nc.ContainingClass?.Parent)?.Name != "File2.cs"    the error still remain.

to verify the value of nc.ContainingClass.Parent i create this example:

    ${
            string PrintContaingClassParent(Class c)
            {
                  return c.ContainingClass.Parent.ToString();
            }
      }

    $Classes[$Ne

[2016-01-28 15:47] LeeCheneler opened #86 "Stop Typewriter rendering templates when a file is saved"
There may already be a way to do this but I can't find it. It would be useful if we could disable the rendering of templates when files in the project are saved? A checkbox in a menu somewhere, or a right click on the template with an option to toggle the auto rendering.

[2016-01-28 21:07] JonasSamuelsson commented on #5
It would be nice to have but no, it's not a big issue.

[2016-01-29 12:05] cmorgado opened #87 "Add support for generics <T>"
Using a class such as

 public class ApiPagedResultBase < T >
    {
        public bool HasError { get; set; } = false;
        public string Message { get; set; } = string.Empty;
        public IEnumerable < T > Result { get; set; }
        public bool HasMore { set; get; }
        public int Total { set; get; }
    }

Will fail.
The latest Typescript allows generics ;)

[2016-01-29 13:41] frhagn commented on #85
I'm afraid there's no support for reading values assigned to fields.

[2016-01-29 13:53] frhagn commented on #69
What I meant to write was `((nc.Parent as Class)?.Parent as File)?.Name != "File2.cs"`, sorry
This way you should be able to filter out File2.cs from the rendered results

[2016-01-29 14:03] frhagn commented on #87
Typewriter already supports generics. You can use `$TypeParameters` and `$TypeArguments` to access the generics e.g.
[code]
will output
[code]

[2016-01-29 14:08] frhagn commented on #86
There's no way to disable the automatic rendering at the moment (other than disabling the extension in the Extensions and Updates window).

[2016-01-29 14:41] cmorgado commented on #87
PERFECT!

[2016-01-29 14:41] #87 closed

[2016-02-01 17:49] SeriousM opened #88 "Generating .cs files"
Hi, I love your extension, it's just pure awesomeness!

I found out that it can be very useful to generate c# models as well (for transportation, etc) but there was a bug:

my code:
[code]

The problem is that it searches for "*Model" and generates as .cs file with a class called "*Model".
This turns out to be a endless loop once you save the .tst file because every generated *Model class extended

[2016-02-01 18:07] frhagn commented on #88
Hi @SeriousM,
Thanks, I'm glad you like it :)

I haven't really really thought about using Typewriter to generate C# files, cool idea! I'll look into excluding generated files from being re-generated..
You should be able to use a lambda filter to exclude the generated classes from generation. Try something like this:
[code]

[2016-02-02 09:54] SeriousM commented on #88
I guess you mean only the files that are generated by the current .tst file, right?

yep, that worked pretty well, thank you!

[2016-02-02 10:30] frhagn commented on #88
Yes exactly, only to prevent the endless loop. C# files generated by other tst-templates should still be included in the generation.

[2016-02-02 17:57] cmorgado opened #89 "Add Support for referenced libraries"
Hi,
I usually put my models in a PCL (or similar) so I can share them with other platforms.
As such they don't fire the generated template...
It would be nice that when we choose "Render Template" (from the last version) it would look for the filter as a class not at a file.... or sort ... so it generates the TS files from the models I referenced from the PCL ;)

I hope I explained it right...

[2016-02-03 09:38] frhagn commented on #74
Released in 1.3.2

[2016-02-03 09:38] #74 closed

[2016-02-03 09:44] frhagn commented on #89
Hi @cmorgado,
I'm looking at implementing support for this scenario. It looks promising, but it'll probably be a while before it's done.

[2016-02-12 18:48] Gambero81 commented on #69
@frhagn you're great!! thank you very much for support in this issue, you solved a very big task!!
I finally full integrated Typewriter in my project!

looking for new features of this beautiful library! (I especially would like comment generation for properties copied from server comments)

[2016-02-12 18:48] Gambero81 commented on #69
@frhagn you're great!! thank you very much for support in this issue, you solved a very big task!!
I finally full integrated Typewriter in my project!

looking for new features of this beautiful library! (I especially would like comment generation for properties copied from server comments)

[2016-02-14 22:14] ruant commented on #76
+1
Would love to see ASP.NET 5 support.

I got several models files, but only one file gets generated.
What I do for a workaround right now is renaming the files extension from .cs to .cs_ so it's not recognized and then generate one and one by renaming them back to .cs

The generated content looks OK to me. So I guess this is just the nesting issue?

[2016-02-15 16:33] frhagn commented on #76
Hi @ruant,
I'm currently working on ASP.NET 5 support and a more flexible output file manager. I don't know when I'll be done, but I've made some good progress so far...

Your issue is probably caused by a crash when saving the path of the source file (or possibly the nesting problem) that stops the rendering after the first rendered file is saved. I don't have any workaround for this at the momen

[2016-02-15 16:34] frhagn commented on #69
Thanks @Gambero81!

[2016-02-16 17:52] frhagn commented on #82
Cannot reproduce

[2016-02-16 17:52] #82 closed

[2016-02-16 20:28] boedlen opened #90 "'Default' is not defined in 'Type'"
I just installed Typewriter via http://frhagn.github.io/Typewriter/index.html and wanted to try out the KnockoutJS example, but i get the error below  when i paste in the knockout example from http://frhagn.github.io/Typewriter/pages/examples.html.

[code]

Is there some other way i can get the default value for a type?

[2016-02-16 20:31] boedlen commented on #90
Just found this line in the changelog:

`Moved $Default from type to extensions. (Note: To use $Default, add "using Typewriter.Extensions.Types;" to your template.)`

And it fixed my issue.

Maybe `using Typewriter.Extensions.Types;` should be added to the top of the Knockout example.

[2016-02-16 20:31] #90 closed

[2016-02-16 21:13] frhagn commented on #90
Hi @boedlen,
I've updated the Knockout example. Thanks for pointing it out..

[2016-02-19 11:17] JulioGold commented on #86
I did an PR to add this feature.

#91

[2016-02-26 22:44] kamranayub opened #92 "Only one source file can be active for any one template file in the case multiple templates need types from a single source file"
Given a single source file with two types:

**Foo.cs**
[code]

If you create two templates:

**Enums.tst**
[code]

**Models.tst**
[code]

Then Typewriter will not create two separate `Foo.ts` and `Foo (1).ts` files due to the source file containing two types both templates reference, instead only one template at a time will generate a `Foo.ts` file.

[2016-02-29 15:43] FreeFrags opened #93 "Add support for field values"
It would be great if we add support for field values

public string type { get; } = "myTestType";

would want to retrieve "mytesttype" and use it in my template

[2016-03-03 10:14] LeeCheneler opened #94 "Error processing queue"
On all 1.3 releases we're only seeing a single file render (out of a lot) and the error messages that are appearing are as follows, it seems to differ based on trivial changes like to the file name:

It seems that it is rendering the first file then breaking.

[2016-03-03 10:32] LeeCheneler commented on #92
There are two ways in which you can overcome this as I would suggest that the behaviour you are describing is expected and correct.

### 1) Derive the proper name of the file yourself and save them in separate files

[code]

This sets the output file name to the first classes name it finds in the file. The possibilities for what you can do here are plentiful and you can easily accommodate a lot of

[2016-03-03 12:46] kamranayub commented on #92
Thanks, I just used the filename factory for another project so I will go
with that!

On Thu, Mar 3, 2016, 04:32 Lee Cheneler <notifications@github.com> wrote:

[2016-03-03 16:00] LeeCheneler commented on #92
@frhagn I think this issue can be closed :)

[2016-03-05 09:01] moleschott commented on #70
Any development for this issue?

[2016-03-05 12:00] michaelaird commented on #75
I would favour this over automatically re-rendering files.

ie. take the T4 Template approach and only re-render the output when the user right-clicks and chooses "run custom tool". TypeWriter could then find all the dependencies and re-render.

[2016-03-05 15:11] kamranayub commented on #75
I just used typewriter in a demo and using tsconfig with compile on save
already doesn't trigger compilation when saving a tst file, so I think not
automatically rendering would be even more confusing. It took me a minute
to realize I had to open the generated TS files and hit save to get VS to
compile. So I would vote to at least keep the option to autogenerate.

On Sat, Mar 5, 2016, 06:00 Michae

[2016-03-05 15:14] michaelaird commented on #75
Maybe an option in properties to say if this tst should autogenerate or
manual. And multi-to-one is only supported by manual generation?

On Saturday, 5 March 2016, Kamran Ayub <notifications@github.com> wrote:

[2016-03-07 18:47] frhagn commented on #94
Looks like a problem with setting ths source file mapping.. Are you getting the error in an ASP.NET 5/Core project?

[2016-03-07 18:57] frhagn commented on #93
I'm looking at adding support for this, but it's surprisingly hard to get the values for fields and properties from roslyn metadata.

[2016-03-07 18:59] #92 closed

[2016-03-07 19:03] frhagn commented on #32
Not sure about the value of implementing this, closing it for now.

[2016-03-07 19:03] #32 closed

[2016-03-09 10:36] LeeCheneler commented on #94
Yes the project is currently on aspnet5 rc 1 update 1.

[2016-03-11 11:39] fernandocode commented on #89
Hi @frhagn ,
Do you have any plans or alternative to be able to generate TS file from Project Libraries?
This would be a great help as it is a good practice to keep Models in a seperated module to be shared between different projects of different platforms.

[2016-03-11 11:52] frhagn commented on #89
I'm working on support for this but it's still early so I don't know when it'll be done, hopefully soon.

[2016-03-11 12:25] fernandocode commented on #89
Sorry @frhagn ,
I was precipitated in my comment, that is supported, only there was no finding as. I have to set the configuration `IncludeProject` property with the name of my library project reference::

[code]

In my case I am using Class Library as referenced project. =D

[2016-03-11 12:38] cmorgado commented on #89
I've tried this but it does not generate any TS from the POCO in the
eCommerce.Domain class library ...  can you give me an hint please

${
    Template(Settings settings)
    {
        settings
            .IncludeCurrentProject()
            .IncludeProject("eCommerce.Domain");
    }}
 $Classes(*.eCommerce.Domain.Models*)[export class
$Name$TypeParameters { $Properties[
    $Name: $Type;]

 cons

[2016-03-11 13:51] fernandocode commented on #89
Hey @cmorgado ,

What an example of class and its namespace in `eCommerce.Domain` as your filter seems odd: `$ Classes (* eCommerce.Domain.Models *.)`, There is something before `*.eCommerce`? The `eCommerce.Domain` project is in the same solution of its main project where the * .tst set?

My template file (models.tst):

[code]

Example of class in Project Class Library `Base.Model` `(Person.cs`):

[2016-03-11 14:12] frhagn commented on #89
Just to be clear here:
Rendering ts classes from referenced projects in the same solution are supported by using any combination of:
[code]
Rendering classes from referenced asseblies that's not a part of the same solution are not supported (yet).

[2016-03-11 14:32] fernandocode commented on #89
@frhagn

It can be something of my environment, but in my case the following two options did not work:

[code]

Only `settings.IncludeProject("Base.Model")` worked. Therefore I recommended and quoted to @cmorgado .

But this plugin is great. ;)

[2016-03-11 15:04] BKer opened #95 "Multiple selections? Blacklisting?"
Hi,

Is it possible to blacklist or have multiple selections when using $Classes ?
For example we have:
A.B.a
A.B.b
A.B.c
And I would like to include A.B.a and A.B.c. How would I go about this?
It would be nice to be able to do something like [A.B.* !A.B.b] or like [A.B.a, A.B.c]
Is anything like this possible?

I hope it's clear what I meant. I'm currently on my phone so not going to write huge a

[2016-03-11 15:10] cmorgado commented on #89
It's working now...

Just the "render template" context item menu is not firing .. I had to
"re-save" the .cs and then it generated !

FANTASTIC!

Best regards
Cristóvão Morgado
pt.linkedin.com/in/cmmorgado/
github.com/cmorgado

   -

On Fri, Mar 11, 2016 at 2:32 PM, fernandocode <notifications@github.com>
wrote:

[2016-03-11 15:47] frhagn commented on #95
Hi @BKer,
You can use lambda expressions to filter out the classes you want, e.g.
[code]

[2016-03-11 16:02] wonkim00 commented on #95
You can have very fine-grained control over which classes you want to generate typescript for by defining your own attribute class and marking just the classes you want to export.

[code]

Then in your Typewriter template:
`$Classes([SynExportToJavascript])`

[2016-03-11 16:58] fernandocode opened #96 "Supported conditional operations in Template .tst!"
For example, I'm trying to add the Inheritance of the C# classes in Typescript in which has $BaseClass, but need to do a conditional in my template for cases of not have $BaseClass, what I have today is as follows:

[code]

Where `BaseModel.cs` and `Person.cs `classes below:

[code]

[code]

They are generated in Typescript this way:

`BaseModel.ts`
[code]

`Person.ts`
[code]

As you can see I nee

[2016-03-11 17:49] frhagn commented on #96
$BaseClass itself is conditional so you can write something like this to get the result you want:
[code]

And if you want to include properties from the base class:
[code]

[2016-03-11 17:55] frhagn commented on #96
You can also write a custom method to add conditions.
[code]

[2016-03-11 18:10] fernandocode commented on #96
Worked perfectly.

Thank you!

Is there any documentation or reference something about this Template (.tst). Can not find anything about this template, it is something developed specifically for this library?

There are some Q&A channel for the community that uses this library? As an example [StackOverflow ](http://stackoverflow.com/)([I noticed that the tag is not present there](http://stackoverf

[2016-03-12 11:30] ruant commented on #76
@frhagn If you need any help testing new stuff I'm more then happy to assist.

[2016-03-12 15:44] frhagn commented on #86
Included in 1.4. Thanks @JulioGold!

[2016-03-12 15:44] #86 closed

[2016-03-12 15:49] JulioGold commented on #86
Thanks

[2016-03-12 15:51] frhagn commented on #94
I've added a try/catch block around the `SetMappedSourceFile` call in 1.4 as a temporary workaround.
Closing the issue as the problem is related to the lack of support for ASP.NET 5 which will be included in Typewriter 2.0.

[2016-03-12 15:51] #94 closed

[2016-03-12 15:55] frhagn commented on #96
No problem :)
Documentation is available at http://frhagn.github.io/Typewriter/

[2016-03-12 15:55] #96 closed

[2016-03-14 07:48] ruant commented on #76
@frhagn With version 1.4 it seams to be working a lot better.
I can now generate more then one file at the time :+1:

The only warning I get in the Typewriter output is this:
WARNING: Falied to save source map for 'Controller OR Model.cs'. Project type not supported.

If that's something with my setup or it's because it's a asp.net core project I'm not sure.

[2016-03-14 08:27] frhagn commented on #76
Great @ruant.
The warning you're getting is because ASP.NET Core projects are not supported. I've simply added a try/catch block in 1.4 around the code that's not working. It should work ok, but tracking of renames and deletes won't work in ASP.NET Core projects.

Full support for Core is coming in 2.0

[2016-03-14 11:05] BKer commented on #95
Hi,

Thank you both for your swift reply :)

[2016-03-14 11:05] #95 closed

[2016-03-15 12:26] BennyM opened #98 "Web API Extension Urls include routename"
When routes are given a name, that name is included in the generated url.

`Route("", Name ="GetEmployee::id")]`

Results in:

`url: `api/employees/Name = "Employees::Get"?employeeId=${employeeId}`, `

[2016-03-16 14:42] #89 closed

[2016-03-16 14:42] cmorgado commented on #89
It's now working 100%

[2016-03-16 14:54] cmorgado commented on #36
using
$Classes(...)[
class $Name extends $BaseClass[$Name] {

}]
works fine if my class inherits another class .. however
If the class doesn't has a base class it generates :

export class MyNormalClass **extends **{

[2016-03-16 15:10] coolkev commented on #36
Put a code block at the top of your template
[code]

Then you can call it like so:

[code]

[2016-03-16 15:19] cmorgado commented on #36
Nice.. I even added another function to add the imports!

`${

    Template(Settings settings)
    {
        settings
            .IncludeCurrentProject()
            .IncludeProject("eCommerce.Models")
            ;
    }

    string Inherit(Class c)
    {
    if (c.BaseClass!=null)
        return "extends " + c.BaseClass.ToString();
      else
         return  "";
    }

    string Imports(Class

[2016-03-16 15:20] cmorgado commented on #36
Now I just need to figure how to set the imports when my C# class has "complex" objects:

` public class ProductItemDetails : ProductItemInStore
    {

        public IEnumerable<ImageDetail> ImagesDetails { get; set; }

        public IEnumerable<AggregatorTuple> Aggregators { get; set; }
    }`

[2016-03-17 09:15] frhagn commented on #98
Fixed in 1.4.1

[2016-03-17 09:15] #98 closed

[2016-03-17 09:16] #85 closed

[2016-03-18 08:14] harishrathi opened #99 "can you add gulp support for typewriter"
This is a feature request. Can we have it a gulp plugin for this. So i can use different tst files with different plugins + integrate it with other gulp plugins like concat etc. so have a much better build system.

Btw, thanks a lot for this freakingly awesome plugin

[2016-03-18 08:24] ruant commented on #76
@frhagn Thanks for working on this. You're saving many people hours and hours of tedious coding hours :) :hand:

[2016-03-18 08:43] harishrathi opened #100 "ability to convert enums"
Can you please add ability or if its already there, then can you please add an example of how to convert enums from cs to ts on your examples page.

[2016-03-18 17:42] frhagn commented on #100
Try something like this:
[code]

[2016-03-19 14:46] #100 closed

[2016-03-19 14:50] harishrathi commented on #99
I was looking at the code... but could not find a point where i can pass the cs file path & the tst file path and get an output file, can you please help me with that

[2016-03-21 13:19] SeriousM opened #101 "Get constant's value"
Is it possible to get the value of an constant like for the enum with `.Value`?

[2016-03-21 14:35] frhagn commented on #101
It's not possible to get constant values at the moment. It'll probably be included in Typewriter 2.0.

[2016-03-21 15:43] SeriousM commented on #101
*cough* done with #102.
I'll close this one.

[2016-03-21 15:43] #101 closed

[2016-03-21 18:11] frhagn commented on #99
Interesting idea, but Typewriter depends on Visual Studio so it can't be run from outside sources like Gulp. Maybe in a future version...

[2016-03-22 04:47] harishrathi commented on #99
the library which does the basic work... converting cs to ts with some options is independent. I would be interested to start working on this, but would need your help, may be a small code walk thru or which test cases would help me in understanding the part i am interested in. Why I am interested to integrate it with gulp or grunt is because I can combine it with other plugins and get the desired

[2016-03-22 21:17] frhagn commented on #70
Basic support added in Typewriter 1.5

[2016-03-22 21:17] #70 closed

[2016-03-23 16:56] Kavorka79 opened #103 "Classes from Nuget package"
Hi,

First of Thanks for a awesome tool! Absolutly love it!

But I have an problem I can't resolve... I a class library as a nuget package, from a service solution, that I reference in my Asp.Net5 Client.

What I want is to template all classes in the nuget package, Already have a template thats working for the project in the same solution. But when I add the nuget reference it cant be found....

[2016-03-24 11:59] frhagn commented on #103
Hi @Kavorka79
Thanks, i'm glad ou like it.

The problem is that external references is unsupported. Typewriter needs a project reference to be able to get the source metadata so you'll have to add the Backend.Queries project to the solution.

I'm looking into adding support for this scenario in a future version, but for now this is the only way to do it.

[2016-03-26 14:17] lexon0011 opened #106 "Configure output directory"
Is it possible to configure the output directory in the template?

I want to add the Typewriter Template (.tst) to my project which includes the models (*.cs). The generated files should be created on a configured path. I need this approach because the target project/path is not part of the Visual Studio solution.

Thank you very much!

[2016-03-28 10:55] frhagn commented on #106
Hi @lexon0011,
Configuring the output directory is not possible at the moment. Support for this will be included in Typewriter 2.0.

[2016-03-28 11:48] lexon0011 commented on #106
Thanks!! Is there a Roadmap when Typewriter 2.0 will be released?

[2016-03-29 08:11] Kavorka79 commented on #103
Thanks for the quick reply! Ok guess we have a decision to make then... =)

External reference support would be extremly good to have for larger projects, I know you have lots to do but I hope to see it in the future.

Thanks!

[2016-03-29 11:23] SeriousM commented on #106
Not when, but what's included: https://github.com/frhagn/Typewriter/milestones/v2.0

[2016-03-29 15:04] harishrathi commented on #62
@frhagn I have created SO tag http://stackoverflow.com/questions/tagged/typewriter

[2016-04-01 07:55] SeriousM opened #107 "Help for Milestone 2.0"
Hi Fredrik,

as far as I can see, the Milestone 2.0 is aimed to drop the CodeDom support and use only Roslyn, right?
I would like to help you with the first step and cleanup the solution drom CodeDom code.
It would be a big help if you could create a new public branch (named v2.0 or something like hat) where I can push my PRs to.

What do you think?

[2016-04-02 19:30] frhagn commented on #107
Hi @SeriousM,
thanks for your interest in helping out with Typewriter. Your help is much appreciated!

I'm currently testing out some different ideas and concepts in a separate private repo. The new code base is very volatile at the moment and not really ready to be merged into the Typewriter repo. I'm also considering creating a new repo for 2.0 so for now I think it's a good idea to lay low with

[2016-04-02 22:11] SeriousM commented on #107
Alright, just let me know when you need help or the code is ready to be
touched.
Typewriter is awesome!

[2016-04-06 15:23] LeeCheneler commented on #106
You can configure the output path like so:

[code]

[2016-04-06 15:28] LeeCheneler opened #108 "Exclude files maybe based on Attribute"
We currently use attributes we've made ourselves to determine if a template should render the class. But TypeWriter tries to render every file, and due to some stuff we're doing in our template it will fail to write.

We could do with a way to flag whether a class/file should be rendered by TypeWriter.

[code]

This would then signify that TypeWriter should stop trying to render this file/class an

[2016-04-06 16:38] SeriousM commented on #106
I wouldn't do that. Regarding to the [Changelog](https://frhagn.github.io/Typewriter/pages/changelog.html) for version 1.3.1:

 Changing the output folder using OutputFilenameFactory is NOT supported and can lead to unexpected behaviour resulting in loss of files.

[2016-04-06 19:54] frhagn commented on #108
You can add a lambda filter to exclude classes based on an attribute e.g.
`$Classes(c => c.Attributes.Any(a => a.Name == "TwExclude") == false)[...]`

[2016-04-07 16:09] LeeCheneler commented on #106
Yeah... I kinda prompted that warning! It was broken in a release 1.3.0, luckily @frhagn was kind enough to put support back in for 1.3.1!! It works fine though. We have a 1 template spewing models out for all our areas and pages into their own directories.

[2016-04-07 16:21] LeeCheneler commented on #108
Ah, right yes we already do `$Classes([TypeWriterClientModel])`. My bad!

It would seem our issue is because we want to derive a module name to use in the template and this is obviously ran before the `$Classes...` filter. And so it can fail if it can't determine what it needs to, which it won't be able to on files that aren't supposed to be rendered.

What we actually need would be a file filter.

[2016-04-11 12:44] frhagn commented on #108
Ah, I see..
I've also thought about adding a "file filter", but I think introducing another filter would add more complexity than needed. Maybe a better solution would be to suppress all errors until after a filter is matched and if no match is found, no error will be thrown?

[2016-04-11 13:06] lexon0011 commented on #106
It is not working with the following configuration:
[code]
I created the directory "dir" outside of the template directory (.tst). The typewriter create only one file and exit then with the following error:
[code]

[2016-04-11 16:04] frhagn commented on #106
Hi @lexon0011,
First of all I have to warn you that changing output folder is NOT supported and might result in some very strange behaviour resulting in loss of files!
However it seems to work for some people so if you want to try it, it's up to you..

I can't really say what the problem is here, but it might work better if you change the directory separator to `\`. Also, `file.Name` is the name o

[2016-04-12 09:00] lexon0011 commented on #106
I think I will wait to the official supported version. Nevertheless, thanks for your help!

[2016-04-12 10:02] LeeCheneler commented on #106
I'm not entirely sure what you issue is. This is how we configure our template exactly:

[code]
The directory `{area}` is relative to the where the template file is. In our MVC6 project we have a folder `Areas` and within that is the template folders and our specific area folders.

Also its important to note we use this in aspnetcore projects, not msbuild projects.

[2016-04-12 10:07] LeeCheneler commented on #108
That would solve the issue for us. Only possible issue we could see with that solution would be potential silent errors and missing renders with no info on them. Although a flag would solve that potentially...

[code]

That's long and

[2016-04-12 10:42] frhagn commented on #108
Great idea. This is probably a 2.0 thing, I'll change the title of this issue to better reflect the new feature. Thanks!

[2016-04-14 07:50] aluanhaddad commented on #75
My personal reason for wanting this is to reduce the number of files that need to be imported/referenced from external TypeScript projects (I am generating .d.ts files containing interfaces that describe JSON endpoints). One solution might be to continue to generate output as is, but to additionally generate and maintain a single file, say ```models.d.ts```, that imports or references each file cr

[2016-04-27 09:00] Tschaul opened #109 "cannot access static properties of a class"
Hi,

Thanks a lot for your efforts at typewriter. So far it worked flawlessly for me. But now i ran into a problem. I want to generate typings for my server-side resources (resx-files). But the "Properties" of the generated classes (in the .designer.cs fiels) are empty. The only reason i see why this should be is that these are all static properties.

Is there a way to get a list of the static pro

[2016-04-28 11:16] frhagn commented on #109
Hi @Tschaul,
unfortunately it's only possible to access public instance members at the moment.
However, Typewriter 2.0 will have a richer code model including access to static properties.

[2016-04-28 19:27] kb3eua commented on #75
I'm currently using TypeWriter to generate all of my Angular2 Services.  But it'd be nice if I could also generate a single file that imports all of my dynamically generated services so that I can put them into one single PROVIDERS array when the application is bootstrapped instead of having to manually add them.

[2016-05-02 11:48] Tschaul commented on #109
Cool, thank you!

[2016-05-10 20:39] RolfVeinoeSorensen commented on #75
kb3eua could I pursuade you to share the template you have created for Angular 2 services? I wish to create a template for asp.net 5 api controllers to autogen service ts files for Angular 2 services.

[2016-05-11 20:03] kb3eua commented on #75
Rolf, here is my template for services.  It will only pull in controllers from certain namespaces and that have an attribute named "TypeScriptGenerate"... that way I have control over which controllers I create services for and which ones I don't.

All of my models are in a "models" sibling folder, so I scan all of the return types and input parameters of my controller actions and import models as

[2016-05-12 06:38] RolfVeinoeSorensen commented on #75
Very nice template. Thank you for sharing!

[2016-05-12 23:36] akshayKhot commented on #76
Appreciate the efforts, any updates on this? is it compatible with ASP.NET 5 now? Thanks.

[2016-05-13 08:50] gldfdp commented on #109
It is indeed a must have functionality

@Tschaul here a quick and dirty work around that I use to generate static access to resources:

[code]

[2016-05-17 09:00] lilling opened #110 "remove module on code generation."
I write in angular 2 so there's no need for typescript module. can I disable it?

[2016-05-17 10:04] LeeCheneler opened #111 "Support classes in assemblies using reflection"
It would be useful if it were possible to generate typescript classes based on classes in assemblies, this would require reflection. This would be useful as it's common in larger projects to split out entity models for example into different assemblies and reference them in the website to use them server and client side (CRUD pages being the obvious example).

Any possibility that this could be su

[2016-05-17 10:09] LeeCheneler commented on #111
This is a duplicate of #103. My bad :P

[2016-05-17 10:28] Kavorka79 commented on #111
+1 duplicate but you explain it so well =)

[2016-05-18 09:02] frhagn commented on #110
Hi @lilling, the generation is template based so if you remove the module parts from the tst template it will be removed from the generated files.
[code]

[2016-05-18 09:05] lilling commented on #110
Im pretty new in this. Can you please give me a working example?
בתאריך 18 במאי 2016 12:02,‏ "Fredrik Hagnelius" <notifications@github.com>
כתב:

[2016-05-18 09:11] frhagn commented on #110
Check out http://frhagn.github.io/Typewriter/pages/getting-started.html and
http://frhagn.github.io/Typewriter/pages/examples.html for more info on how to get started.

[2016-05-18 09:12] lilling commented on #110
Thabk you very much!
בתאריך 18 במאי 2016 12:11,‏ "Fredrik Hagnelius" <notifications@github.com>
כתב:

[2016-05-18 09:14] frhagn commented on #111
I've dome some experimenting on this and it looks very promising.. It'll probably be supported in a 2.x version, but not 2.0

[2016-05-27 17:59] matgr1 commented on #76
A workaround that I'm using (which works for .NET Core RC2) is to create a separate Windows console application (as in NOT .NET Core) and then use the settings.IncludeProject() method to load my .NET Core projects... I'm guessing it would work with a class library rather than a console app as well, but I haven't tried that

Not sure if this is related, but I do have some issues where it occasional

[2016-06-09 21:01] gregveres commented on #61
Do people generally let source control check in these files? I am using Git and I was going to try to put the output in a different directory and then have Git ignore that directory.

[2016-06-10 00:45] cwoolum commented on #61
I have been checking them in. If you do CI, I don't think these would get
recreated...

On Thu, Jun 9, 2016 at 2:02 PM, gregveres <notifications@github.com> wrote:

[2016-06-10 00:45] gregveres opened #112 "typewriter doesn't handle nested RESTful routes properly"
Hi Fredrik

I am trying to use Typewriter for the first time. I have to say I am impressed with the tool and the concept of the tool. Great job!

I have run into a problem where typewriter isn't handling a nested RESTful API properly. In my interface, I have a court group, which has a list of courts. So the API for the court groups is handled properly with the  route extension.

Here is the first

[2016-06-10 00:52] gregveres commented on #112
As a quick follow up, I was looking at a different web service on the same courts controller and noticed another problem. Here is the controller:

[code]

and this is what was generated:

[code]

Notice in the data, there is an extra groupId: groupId. There should only be a court: court because the groupId is sent as part of the Url. I think this is all related but I wanted to point out this case

[2016-06-10 00:54] gregveres commented on #61
Hmm that is an interesting point. Right now I am using Visual Studio Online as my CI server. I think you are expecting these to not be recreated because the CI server doesn't have Typewriter installed and even if it did, typewriter isn't part of the MSBuild chain so it wont get called.

That makes sense to me. Checking them in it is then.

Thanks for pointing that out.
Greg

[2016-06-10 08:06] frhagn commented on #112
Hi @gregveres
It seems Typewriter incorrectly camel-cases the route parameters when creating the url, I'll add a fix for this.. Meanwhile you should be able to get working by camel-casing the route parameters and the method parameters e.g.
[code]

[2016-06-10 12:18] gregveres commented on #112
Hi @frhagn

Yes the camel case is one issue, but that can be worked around. Did you notice the other issue where it doesn't handle a parameter in the route? It generated the URL as:

`        public static RouteGetAllCourts = (groupId: number) => `api/CourtGroups/${GroupId}/Courts?groupId=${groupId}`;`

Notice the groupId in there twice, once as part of the URL path and once as a parameter. That i

[2016-06-10 19:24] frhagn commented on #112
I think camel casing the parameters should solve the second issue as well.. Do you still get the extra quert string parameter even after camel casing?

[2016-06-10 19:31] gregveres commented on #112
Ah I see what you mean. You are correct. Once I changed the first letter of my parameters from upper case to lower case, typewriter started to behave perfectly. Thank you very much for the full work around while I wait for an update.

I love this tool. It has made things so much simpler. Thank you!

[2016-06-10 19:49] frhagn commented on #112
Cool, I'm working on the fix now so it'll be available soon

[2016-06-11 00:48] gregveres commented on #112
I just came across another instance where it isn't creating the proper URL, I think. I might be missing something though.

Here is my controller:

[code]

and my .tst file:

[code]

it generated:

[code]

Notice that groupId is pushed down as a body parameter rather than a URL parameter.  I have to admit I don't really know how Visual Studio knows that groupId should be a URL parameter, but it doe

[2016-06-11 01:00] gregveres opened #113 "FR: have Typewriter extension save the .ts files it generates"
Hi,

I love Typewriter. I am finding the workflow a little awkward though. I will edit either the .cs files or the .tst files and Typewriter jumps into action and creates a bunch of .ts files. Fantastic. But the missing part is that I then have to load the .ts file, touch it in some way and save it out so that VS will then transpile it into a .js file.

Would it be possible if Typewriter could use

[2016-06-12 21:50] gregveres opened #114 "Do the attributes parameters capture data validation attributes?"
Hi @frhagn

I am trying to figure out how to do validation using Knockout and ASP.Net MVC. They don't play very nice together.

So I turned my attention to the knockout validation plugin. It requires me to put the validation methods on the javascript model class. So I turned to Typewriter for a solution. If Typewriter can do this I would be a very happy camper.

I have used Data validation attribu

[2016-06-12 21:59] gregveres commented on #114
Ah I figured out what I was doing wrong. Where I had the Attributes array, I was trying to print the attributes of the class and there were no attributes on the class.

I moved the Attributes[] keyword inside the Properties[] array and voila I got all the attributes of the properties. Wow. this is great.

Now I just have to figure out how to convert that into input for the knockout validation plug

[2016-06-14 16:31] jods4 opened #115 "Web API extensions for ASP.NET Core 1.0"
I know Core is not officially supported yet, but it works fine enough for me.

That said, the attributed routing in ASP.NET Core supports additional variants that don't exist in 4.5. It would be nice if Typewriter could support them in its Web API extensions, i.e. `$Url`.

In particular, all http attributes (`HttpGet` & co) implement `IRouteTemplateProvider` and are used to indicate routes.
[code]

[2016-06-15 07:00] kreloses commented on #89
settings.IncludeProject only works for projects within the solution, and not for referenced assemblies. I assume it's not implemented yet? Otherwise great tool thanks.

**Using**
VS2015: 14.0.25123.00 (update 2)
Typewriter: 1.7.2

[2016-06-15 11:20] jods4 commented on #75
Was going to open an issue for merging several .cs files into a single .ts/.js output.

One motivation that was not mentionned in this thread is that if you emit ES6 w/ modules, then your file name defines your module name. So unlike C#, file structure in ES6 modules matters a lot.

For example, in C# I write lots of entities in a `Model` folder, one file per entity. In TS I would like to have a s

[2016-06-16 08:32] Gambero81 commented on #70
How does it work? i cannot find documentation... can you provide a sample?
Thanks

[2016-06-16 12:59] mlturner88 opened #116 "ASP.NET WebAPI 2 Error Processing Queue Object Reference Exception"
We just started a new project using Angular 1.x and Web API 2.x and have installed your lovely extension. On my colleagues machine we are able to generate everything that we need perfectly but unfortunately we are unable to get the template rendering to work on other machines. I am getting the below output when I attempt to. Having a look at [the RoslynFileMetadata constructor](https://github.com/

[2016-06-16 16:41] nic-ware opened #117 "How can I type a method"
Hello, I don't know how to correcty type c# method like this:

public buy()
{
int a;
a = 22;
return;
}

Thank you very much I Hope your answer

[2016-06-16 19:51] gregveres opened #118 "a bug with $Url not picking up a parameter"
HI @frhagn

I have a case where the WebApi extension $Url isn't correct.

Here is the c# controller code:

[code]

What this produces is a URI like
/api/BoxLeague/${id}/Rejoin?playerId=${playerId}

Here is the .tst file I am using:

[code]

Here is what Typewriter produces:

[code]
Here is what the code should produce:

[code]

I put the [FromUri] in the parameter list to see if Typewriter was pic

[2016-06-16 19:57] gregveres commented on #117
HI @nic-ware

What are you trying to accomplish? Are you trying to generate a .ts file that has a function prototype for buy()?

If so, how is your typescript going to call your c# method? Normally typewriter is for creating prototypes of your API Controllers, meaning it defines methods to call your Web API end points and define the data transfer objects that are passed back and forth between your

[2016-06-17 06:43] RolfVeinoeSorensen commented on #89
This IncludeProject is fantastic. Thank you for this awsome extension!

[2016-06-24 04:34] Oblomoff commented on #75
+1
Well done, but make some hack, please. I cannot generate barrels like this. :(
[code]

[2016-06-24 06:42] rvalimaki commented on #75
Hello,

I did customize the file name factory so that it exports files with "<namespace>___<originalfilename>.ts". Then I did create a Node.js script to concatenate all the files with same namespace.

Actually I did already shorten and combine namespaces so that we only had some 40 files for about 1000+ exported DataContract classes and enumerations instead of some 100+. When we had over 3 parts i

[2016-06-24 06:45] rvalimaki commented on #75
Sorry, file names in above posts where including special characters, so they got stripped of. So I did change Typewriter output file names to "(namespace)_(originalfilename).ts". And ultimately combined them to "(namespace).ts".

[2016-06-25 00:52] sachabest commented on #100
How does Typewriter find enums that would go into the filter? Even with an empty filter parameter and enums declared in my C#, the template doesn't generate any files.

[2016-06-25 10:32] rvalimaki commented on #100
Try adding "*" into filter instead of an empty one.

[2016-06-25 17:26] sachabest commented on #100
Thank you! For some reason a filter that takes in an argument of type enum and simply returns true was not picking up anything. Is that the right signature?

[2016-06-26 20:16] frhagn commented on #118
Hi @gregveres,
for some reason Typewriter only handled GET and HEAD requests correctly. I just published a new patch-version (1.7.3) that fixes this problem.

[2016-06-26 20:22] frhagn commented on #116
Hi @mlturner88,
I haven't seen this problem before. Are you running Visual Studio 2015 Update 2? Try to uninstall Typewriter, restart Visual Studio and install Typewriter again.

[2016-06-26 20:31] frhagn commented on #115
Hi @jods4,
I have to read up some more on the core docs before I can make a proper extension for the new routing apis so this probably won't be included until Typewriter 2.x. I've added support for the [controller] and [action] tokens in the current implementation so you should be able to use them at least.

[2016-06-26 20:34] frhagn commented on #113
Hi @gregveres,
I'm looking at fixing this in the next major version.

[2016-06-26 20:35] #110 closed

[2016-06-26 20:44] frhagn commented on #70
Hi @Gambero81,
`$Classes`, `$Methods` etc. now have a `$DocComment` property, try something like this to get started:
[code]

[2016-06-26 22:51] jods4 commented on #115
@frhagn Thanks! In the meantime I'm using my own `$ActionRoute` method, which contains the minimum needed to support our patterns (we do use `HttpGet("{id}")` for example).

I think the official doc is not ready yet <_<
https://docs.asp.net/en/latest/mvc/controllers/routing.html

[2016-06-27 12:57] mlturner88 commented on #116
My apologies I should have mentioned that before. I am using VS2013 Update 5. I've tried reinstalling Typewriter a few times now without any success, unfortunately.

[2016-06-27 13:20] frhagn commented on #116
Ah ok that's wierd, vs 2013 should use the CodeDomMetadataProvider, not Roslyn... Have you installed some kind of Roslyn preview for vs 2013 or something like that? Also, is your colleague running 2013 update 5?

[2016-06-27 13:48] mlturner88 commented on #116
I haven't to my knowledge. My colleague is using the same version as me, yes. The main difference is I have the Xamarin tools installed and he doesn't.

[2016-06-27 14:10] frhagn commented on #116
Look for "Roslyn Preview" in Extensions and Updates.. If it's there, try to disable it and restart Visual Studio

[2016-06-27 14:19] mlturner88 commented on #116
I'm not seeing that installed. I just updated to 1.7.3 as well with no luck.

[2016-06-27 20:15] frhagn commented on #116
I just published a new version (1.7.4) which hopefully fixes this issue.

[2016-06-27 20:27] gregveres commented on #113
That would be fantastic. I have been bitten by this a few times since I wrote the request.

Thanks!!

[2016-06-27 20:28] gregveres commented on #118
Perfect. I will pick up that new version and give it a try.

[2016-06-29 09:54] SeriousM opened #119 "Code in comments break parser"
`// {` is enough to break the parser of tst

[2016-06-29 10:14] SeriousM opened #120 "Method.Parent (Class) is of the Wrong Type"
The parent of a method is the original declaring type.

Example:

[code]

Therefore, Car.DoSomething's Parent is BaseClass.
The problem is that the classes sometimes have attributes (eg. RoutePrefix).

Example:

[code]

Therefore, CarController.FireEvent's Parent is BaseController and so is the RoutePrefix "appi/base".

Is it possible to get the parent of the method (property, field, etc) where th

[2016-06-29 11:13] mlturner88 commented on #116
That fixed it. Thank you very much!

[2016-06-29 11:32] #116 closed

[2016-07-01 09:38] frhagn commented on #120
Hi @SeriousM,
`$Parent` is the parent context of the current item so you can get the `RoutePrefix` of `CarController` by starting at the top level e.g.
[code]

[2016-07-01 11:57] SeriousM commented on #120
Well, that's kind of right if I know the concrete class, but I start with `$Classes(c => c.Name.EndsWith("Controller")` which gives me not the right type of class in $Class.

[2016-07-01 12:40] frhagn commented on #120
I'm afraid there's no way to get the concrete class(es) from `$Class` so you'll have to handle this in some other way, maybe add a more specific filter to exclude the base class?
`$Classes(c => c.Name.EndsWith("Controller") && c.BaseClass?.Name != "BaseController")`

[2016-07-02 15:18] gregveres commented on #118
@frhagn

This works great for my example. You can consider this closed.

Thanks for the fix.
Greg

[2016-07-02 15:18] #118 closed

[2016-07-02 15:21] gregveres commented on #114
I haven't done the work to add the validation yet, I will at some point, but for now, I will close this. No need keeping this one open for no reason.

[2016-07-02 15:21] #114 closed

[2016-07-02 16:54] gregveres commented on #112
I have tried this in 1.7.4 and it is all working now.

Thanks for the fix!
Greg

[2016-07-02 16:54] #112 closed

[2016-07-03 23:21] gregveres opened #121 "how do you debug a tst file?"
HI @frhagn

I have the following in .tst file and I would like to be able to console.log stuff so I can see what I am working with. Is that possible?

[code]

thanks.

I am trying to use a 2 dimensional array  in C# and converting that to a knockout observable array, but what appears to be happening is that Property.Type only has a single [] but $Type within a property section seems to have the pr

[2016-07-03 23:24] gregveres commented on #121
No rush on answering. I would like to know how to best debug .tst files. But for this issue, I have realized how I can get away from a 2 dimensional array. I think moving away from the 2-D array makes it easier to work with the classes anyway.

Thanks
Greg

[2016-07-04 17:21] afnpires opened #122 "Genrate barrel with the created files"
For the generated class to ts file, generate a [barrel](https://angular.io/styleguide#!#04-10) with all the ts files.

[2016-07-05 20:53] JayCallas opened #123 "Map Property Types"
Is there a way to customize the transformation of specific C# data types to TypeScript? For example, on one C# class there is a property with the type `KeyValuePair<string, number>` which could translate to a Dictionary (typed Dictionary even??) or, at the very least, an empty object `{ }` in JavaScript.

[2016-07-07 11:22] Kavorka79 opened #124 "Trigger file generation from outside source eg. gulp or ..."
Hi,

Is there a way to trigger generation of file from an outside source eg. gulp or other task runner?

Scenario: you refactor and delete alot of files. Then you would ideally want to clean all generated files and regenerate them from source.

The clean part is easy, just create a gulp task but trigger generation? other then manually save in tst-file.

[2016-07-08 10:08] banyard commented on #121
There may be a better solution but in terms of general debugging with Typewritter I usually append information to a string then output this within a comment in my template. Something like:

[code]

[2016-07-08 12:57] gregveres commented on #121
ah that's a good idea. I will keep that in mind the next time I need to debug. Thanks.

[2016-07-08 13:32] frhagn commented on #121
Nice one @banyard!

[2016-07-20 18:25] radziksh opened #125 "change $Type in &Properies by condition."
Hi, I need replace **Date** type in **C#** to **string** type in **Typescript**, something like this:
[code]
how can I do it?

[2016-07-20 20:58] frhagn commented on #125
Hi @radziksh
You can use $IsDate[true template][false template] e.g.
...
$Properties[
    $name: $Type[$IsDate[string][$Name]];
]
...

[2016-07-21 12:06] radziksh commented on #125
@frhagn, thank you, it works.

[2016-07-21 12:06] #125 closed

[2016-07-22 07:53] afnpires opened #126 "Keep/create folder structure"
In `settings.OutputFilenameFactory` we define a destination for the file transformation.

It would be nice if we provide multiple folders and  it would create the missing ones.

Example:
[code]

`rootFolder` exists but `missing-folder` and `another-folder-that-doesn-t-exist` doesn't, so they should be created instead of returning an error due to nonexistent path:

`08:52:02.313 ERROR: Error proces

[2016-07-27 16:23] KeithHenry opened #127 "Partial C# classes result in multiple conflicting TS classes"
This is fairly simple to replicate:

**Dummy.a.cs**
`public  partial class Dummy { public string A {get; set;} ... }`

**Dummy.b.cs**
`public  partial class Dummy { public int B {get; set;} ... }`

**dummy.tst**

[code]
## Output:

**Dummy.a.ts**

[code]

**Dummy.b.ts**

[code]

This doesn't compile in TypeScript due to the duplicates. It should either output a single Dummy.ts file or include some

[2016-07-30 01:48] nicholasdgoodman opened #128 "File generation not working for Typescript projects (HTML Application with Typescript)"
When adding TT files to projects of type _HTML Application with Typescript_, VS does not generate the corresponding .ts files.

I know most Typescript users do not use the built-in Typescript project type in Visual Studio, but I think adding support to this project type would be extremely beneficial for TypeWriter.

When using this particular project type, VS will compile all the .cs files into a

[2016-08-02 06:42] KeithHenry opened #129 "Interpolated strings cause template render error."
Add a TS interpolated string in a template, for instance:

[code]

Causes the template to not render with the error:

Removing the `${variable}` from the interpolated string avoids the issue, but it means that interpolated strings cannot be used in TypeWriter output at all.

[2016-08-19 13:01] DaveOMac commented on #129
+1

[2016-08-24 17:19] rickbatka commented on #75
Back to the topic at hand, I'd like to add a bump for the idea of compiling to a single .ts file, but for a different reason than what's been stated so far.

We publish our web projects directly from Visual Studio, and in the interest of keeping generated files from cluttering the project files, we have typescript compile to one single .JS file and we don't check that file into version control. Sa

[2016-08-24 19:30] michaelaird commented on #75
I've been looking at NSwag lately (https://github.com/NSwag/NSwag). It looks very promising for generating a full TypeScript client for webapi controllers.

[2016-08-29 05:44] aluanhaddad commented on #75
While I initially chimed in asking for this feature, I don't think it is particularly necessary. The separate files actually make things quite clear and I just generate a file which re-exports all of them on build so they can be conveniently referenced. It turns out that, contrary to what I said, it wasn't the number of files that was the issue, it was simply a need for better organization. One I

[2016-08-30 07:30] henninga commented on #111
+1 for this.

[2016-08-31 13:20] jcorrea-origin commented on #100
$Classes(e=>e.Namespace == "Common.Entities" && e.NestedEnums.Count()>0)[
         module Models.Commons.Entities {
            export module $Name {
                $NestedEnums[
                    export enum $Name {
                        $Values[
                            $Name = $Value][,]
                    }
                ]
            }
         }
       ]

[2016-09-02 11:28] maleet opened #131 "C# Collection type as any[]"
I got an old project with lots of custom collections like:
[code]

result on rendering:

[code]

in tst file
[code]

Would like to have
[code]
Is it possible?

[2016-09-13 01:05] ronbrogan77 commented on #127
I ran into this one today, seems to be a bit of a tough problem to solve. As it is now, Typewriter renders each file, so if a file has two classes in it, it will render those two classes into one .ts file. This reflects your code structure and meets expectations. It appears as though each partial class is presented as the full implementation, which makes sense. Partials are only really a way of se

[2016-09-13 08:01] KeithHenry commented on #127
Partial classes can be misused, certainly, but what they're intended do in C# is very similar to what TypeWriter is doing.

The commonest place most devs will have seen them is in desktop WinForms (the VS UI has a designer for the form and that gets output as a partial) or Linq DBML files (the record class is created as a partial so that developers can extend it).

Most VS CustomTools generates pa

[2016-09-15 08:13] specialwork opened #132 "property.Type.OriginalName returns empty string if type is byte[]"
The following Method returns "" if the original property type is a byte[]

    string GetManagedType(Property property)
    {
        return property.Type.OriginalName;
    }

[2016-09-16 12:39] jmhdez opened #133 "Command line support"
I'd like to use typewriter in an automated build without Visual Studio. Is it possible to run it as a command line tool?

[2016-09-19 17:59] gregveres opened #134 "match nested classes and classes at the same time (want to use the same body)"
Hi @frhagn

I have a situation where I want to use the same text processing on both nested classes and classes. In C# I have a class that contains nested classes. I want both the nested classes and the top level classes to be output the same way into the typescript file.

Right now I think I have to duplicate the code in the tst file that outputs the typescript: once for the filter: $Classes(<filt

[2016-09-20 07:32] aluanhaddad commented on #127
TypeScript does not support partial classes, but it supports interface merging. Most of the time I find an interface is the better solution, especially for code generation of models. You can also merge a classes with several interfaces. This becomes more complicated when using external modules, but it is fully supported by TypeScript.

If using TypeScript namespaces, consider:
_dummy.a.ts_
[code]

[2016-09-20 07:47] aluanhaddad commented on #131
Yes it is. If this is an external module, you need to generate a model type for the collection element and import it.
This works well for me:

_helpers_
[code]

_template_
[code]

[2016-09-20 08:09] jmvtrinidad opened #136 "Error rendering template"
**NOTE** I tried already reinstall or disabled the plugin.

**Here's the output from TypeWriter.**

**TST file**
[code]
 **Here's my VS Info**
Microsoft Visual Studio Ultimate 2013
Version 12.0.40629.00 Update 5
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Ultimate

Architecture and Modeling Tools   06181-004-0451031-02179
Microsoft Architecture and Modeling Tools

UML® and Unifi

[2016-09-20 08:18] jmvtrinidad commented on #136
I also  try to render template and it says `Not Implemented Exception from HRESULT: 0x80004001 (E_NOTIMPL))`.

[2016-09-20 08:42] aluanhaddad commented on #122
It would be nice if this had official support, but in the meantime, you can generate it with a simple shell script.

[2016-09-20 09:09] jmvtrinidad opened #137 "VB is not supported"
It is possible to include vb for compilation?

[2016-09-20 09:37] KeithHenry commented on #127
Yes, I have already used a pattern like that for simple model classes where the actual implementation is not important and I just want to ensure that TS and C# code reference the same properties.

I start the files with `declare namespace` and change the output to end with `.d.ts` extensions as otherwise you get an empty `.js` file on transpile.

Having two identical files is clunky and a workarou

[2016-09-20 11:42] aluanhaddad commented on #127
I see. I always use external modules so my workflow is a bit different. As long as all of the behavior is in one of the partial class's constituent files you can mix it up like this.

[code]

[2016-09-20 13:19] KeithHenry commented on #127
I could write TS like that, and we already do extend some of the interfaces in that way, but not using TypeWriter - there's no way to generate your `validate` method; both partials get all the members.

This is kind of a blocking issue for TypeScript, as a lot of the teams that get value from auto-generating their TS code are highly likely to be using similar tools to auto-generate C#, and that al

[2016-09-23 15:28] sogundu commented on #36
Based on this:  https://github.com/frhagn/Typewriter/issues/75

[code]

[2016-09-26 08:23] damiangreen opened #138 "KeyValuePair<T,T> not rendered"
The C# KeyValuePair<T, T>  type is unsupported.

input C# file:

[code]

generated Typescript:

[code]

Errror:
Build: cannot find name 'KeyValuePair'

[2016-10-11 07:40] aluanhaddad commented on #117
@nic-ware The method
[code]
is not a syntactically valid C# function. It could be the constructor of a class named `buy` but that would be very odd.
I assume you meant
[code]
which technically is a nullary void method with a `this` type of `SomeClass`.
The corresponding TypeScript type would be
[code]
The method itself is as you are no doubt aware, nonsensical. An example of what you are trying to

[2016-10-11 08:10] aluanhaddad commented on #123
You would write a helper like
[code]
That gives you back a string but you could return other information as well.

[2016-10-11 08:24] aluanhaddad commented on #138
[code]
This will do the trick

[2016-10-11 09:33] aluanhaddad commented on #127
I had a thought about this recently. What if you used `Settings.OutputFilenameFactory` to ensure that each partial class file received the same name. Then the generation of the second would overwrite the first and that would be OK.

[2016-10-14 03:37] dennisroche commented on #133
@frhagn Is there anything preventing `Typewriter` being run outside of Visual Studio? I understand that you're using Rosyln. I'm happy to jump in and contribute a PR, just need a start point.

[2016-10-14 07:40] jmhdez commented on #133
I took a look at the code and it looks tightly coupled to Visual Studio and DTE classes. I'm not sure it's going to be easy to add a CLI, but @frhagn, if you are going to try I'd be glad to help.

[2016-10-14 07:43] dennisroche commented on #133
We probably could break the dependency on `DTE` and use Rosyln for the analysis of the source code. It is a significant change.

Of all the options to generate TypeScript from C# POCO, this is one of the better so happy to contribute.

[2016-10-14 08:59] frhagn commented on #133
Hi guys,
the main reason Typewriter is so tightly coupled to Visual Studio is that it needs a full Roslyn Workspace of the current solution to be able to get the rich type and reference info needed. Loading a Workspace is a costly operation that takes several seconds (or sometimes minutes) for a large solution.

I like the idea of being able to use it from the command line and using task runners l

[2016-10-14 09:18] frhagn commented on #137
I'll look into this for a future version, shouldn't be that hard to implement.

[2016-10-14 09:31] frhagn commented on #136
Hi @jmvtrinidad,
I'm afraid I don't really have any idea why you get this issue.. Have you tried to reproduce the issue in a clean solution containing only the files necessary to render a single ts file?

[2016-10-14 11:02] frhagn commented on #134
Try something like this:
[code]

[2016-10-14 12:06] jmvtrinidad commented on #136
I try it on a clean solution and it works. Maybe there's something weird in solution. Thanks.

[2016-10-14 12:06] jmvtrinidad commented on #137
Thanks, keep posting.

[2016-10-15 20:10] mikolus opened #140 "Namespace as module name"
Is there any way to have modules named after namespaces? To have something like:

[code]

I need it to be able to import multiple typings to my Angular2 component. Unless there is a better way to do it?

[2016-10-15 23:57] aluanhaddad commented on #140
That is how they work by default. But these are "internal modules", not namespaces and you should use the `namespace` keyword instead of the `module` keyword to avoid confusion. If you are trying to generate "external modules", that is ES Modules, I have a good setup.

[2016-10-16 00:03] aluanhaddad commented on #125
@frhagn I didn't know about this feature. This will let me get rid of a bunch of helpers for things like moment. Thanks!

[2016-10-16 01:18] aluanhaddad opened #141 "Pull commonalities between Interface, Class and Type into a C# Interface"
This project exhibits some very nice coding practices. For example, _inheritance_ is not overused! This is great.
However, I think _implementation_ could be used in more places to make it easier to write generic helper functions.
For example the `Class`, `Interface`, and `Type` types have a common abstract base class `Item` with non members. However, they have much in common from an API perspectiv

[2016-10-16 02:01] aluanhaddad commented on #122
[code]
Or some variation works

[2016-10-17 01:03] LawrenceWard opened #142 "Dont overwrite input files"
I was trying to generate some C# code, I set the outputExtension to ".cs". It overwrote my original input files. Had to spend 3 hours fixing decompiled sources from last debug build!!!

Please put a check so that the template will not overwrite any files that it used for input, or at least allow it as a setting for the template.

[2016-10-17 14:59] frhagn commented on #140
`$Namespace` is a property on `$Class`, so you can try to include the namespace in the classes template like this:

[code]

[2016-10-17 15:43] eamodio commented on #133
@frhagn it would be wonderful if the new version would run cross-platform as well. Currently TypeWriter is the only thing I need to spin up my Windows VM for ;)

[2016-10-17 20:56] allenmoatallen commented on #76
Any update on this? Now that .NET Core 1.0.1 is out and 1.1 is right around the corner...

[2016-10-18 19:53] frhagn commented on #142
Resolved in 1.8.0

[2016-10-18 19:53] #142 closed

[2016-10-18 19:54] frhagn commented on #132
Resolved in 1.8.0

[2016-10-18 19:54] #132 closed

[2016-10-18 19:54] frhagn commented on #131
Resolved in 1.8.0

[2016-10-18 19:54] #131 closed

[2016-10-18 19:55] frhagn commented on #129
Resolved in 1.8.0

[2016-10-18 19:55] #129 closed

[2016-10-19 22:04] jay1891 opened #143 "Use System.ComponentModel.DataAnnotations.* in .tst Templates"
First of all I want to say that Typewriter is amazing! This is a tool with a lot of potential, and I love it. :)

I have 2 questions:

  1) Is it possible to read/use data annotations like DisplayAttribute and RangeAttribute in a tst template?

  2) Is it possible to also read/use custom attributes or call custom code in a tst template?

[2016-10-20 15:21] Oblomoff opened #144 "Newtonsoft.Json.Linq.JObject parameter crashes Visual Studio 2015"
Typewriter 1.8

A class containing a method with parameter of type Newtonsoft.Json.Linq.JObject crashes Visual Studio 2015. The problem in Parameter.Type property I guess.
cs
[code]
tst
[code]
Exampe solution is here.

[ClassLibrary.zip](https://github.com/frhagn/Typewriter/files/542063/ClassLibrary.zip)

[2016-10-20 20:00] jay1891 commented on #143
I noticed I can read the properties and its attributes on the Typewriter.Codemodel.Class . On every attribute there is attribute.Name & attribute.Value. The value contains the data annotation parameters, so in this way it is possible to read the attribute.

[2016-10-20 20:00] #143 closed

[2016-10-20 20:46] frhagn commented on #144
Fixed in 1.8.1, kudos on the perfect example solution @Oblomoff!

[2016-10-20 20:46] #144 closed

[2016-10-20 20:51] frhagn commented on #143
Hi @jay1891,
check out http://frhagn.github.io/Typewriter/pages/getting-started.html#custom-methods end http://frhagn.github.io/Typewriter/pages/examples.html for some info on using custom methods in tst templates.

[2016-10-21 07:26] frhagn commented on #117
Closing this due to inactivity

[2016-10-21 07:26] #117 closed

[2016-10-21 07:28] #136 closed

[2016-10-21 12:20] jay1891 commented on #143
Hi,

Thank you for your info. I'm using this approach intensively and thank you that you made this available.

Because I'm getting to much code inside the templates, I was hoping if I could call own custom dlls (external code) and maybe can for example call more libraries like the dataannotations. Also reusing code between different templates would be nice.

But with the current possibilities I ca

[2016-10-21 20:30] sonuautade commented on #75
@frhagn any updates on this issue?

[2016-10-22 09:01] sonuautade commented on #121
It reminded me of days when we used to write `printf` statement in C code to debug it

[2016-10-22 09:21] aluanhaddad commented on #36
@cmorgado Take the types of all the properties, extended interfaces and classes, and implemented interfaces and so on put them into a single collection projecting to a simple type woth properties for the exported type name and the import path and then do `.Distinct()`.

[2016-10-23 14:34] gregveres commented on #140
Good suggestion @frhagn. I was coming here to start a discussion about some sort of higher level abstraction as input to typewriter because I am finding myself making many copies of the same .tst file and changing two things:
namespace <namespace_path>
and
$Classes(<c# class path>)

I think by moving the namespace inside the $Classes[] structure, I can eliminate this as one need for multiple files

[2016-10-23 14:37] gregveres commented on #140
Sorry I realize I am hijacking this thread. I am going to start a new thread for my question about multiple filters in $Classes.

[2016-10-23 15:02] gregveres commented on #140
Never mind. I just saw the answer to Issue #95. in that answer you show how to use the lambda expressions to do exactly what I was looking for. Also @wonkim00 shows how to build a custom attribute and use that as a selection mechanism.

I think the end result will be that I will use the base class selector for my API controllers in one .tst file and I will use the custom attribute for my view mode

[2016-10-24 14:20] maleet commented on #133
With Command line support I would like to switch to Jetbrains Rider. Today I use Visual Studio only for TypeWriter and edmx.

[2016-10-25 10:36] edwardridge commented on #133
This would be fantastic - it would also mean it could be run on CI, which is always a plus!

[2016-11-03 14:18] jods4 opened #146 "CamelCase bug"
CamelCase incorrectly transforms `IsIG` to `isig`. Expected result is `isIG`.

The bug seems to be this condition
[code]
It fails when `i == 0` and the next character is lower case.
I think a more correct logic would be to always lowercase i == 0, then continue if the current char and the next one both are uppercase.
Something like (untested):
[code]
Note: I am unsure what the correct behavior is

[2016-11-06 11:32] frhagn commented on #146
Good find @jods4, fixed in 1.8.2

[2016-11-06 11:32] #146 closed

[2016-11-07 16:00] gregveres commented on #134
Hi @frhagn

This pointed me in the right direction. Thank you very much.

I have combined this with #95 where @wookim00 suggested using class attributes. I am moving to a setup where I only have 2 tst files in my project, one spits out the Typescript service wrapper and the other spits out the Typescript viewmodel and knockout viewmodel classes.
I use two attributes on my C# classes:

[ExportToTyp

[2016-11-08 10:56] gregveres opened #147 "Bug? if only enum is selected no TS file output?"
HI @frhagn

I am having some unexpected results. I have a c# file with a nested enum in the class contained within the file. It turns out that I want to export just the nested enum but not the class that contains it:

[code]

If any class triggers output, then this enum will be processed. But if there is no class in the file that triggers output, then this enum does not trigger output and there is

[2016-11-08 11:53] gregveres commented on #134
Ok I think I am wrapping my head around this.

I am now working under the assumption that the $Classes is the almighty selector. If it returns false for all classes, then no file will be output.

So I now do this:

[code]

And then I have this line as the first line of the body in the .tst file:

[code]

Notice that in ClassShouldBeExported, I look at the nested classes and nested enums. And I rec

[2016-11-08 12:01] gregveres commented on #147
Ok I think I am wrapping my head around this.

I am now working under the assumption that the $Classes is the almighty selector. If it returns false for all classes, then no file will be output.

So I now do this:

[code]

And then I have this line as the first line of the body in the .tst file:

[code]

Notice that in ClassShouldBeExported, I look at the nested classes and nested enums. And I rec

[2016-11-09 14:00] Dolfik1 opened #148 "Double quotes in char break parser"
Parser broken when use char with double quotes.

`    string getDoubleQuotesFromChar() {
        return '"'.ToString();
    }
`

When use any other character, it's works fine.
`    string getDoubleQuotesFromChar() {
        return 'a'.ToString();
    }
`

Full example:

    ${
        using Typewriter.Extensions.WebApi;

        string ReturnType(Method m) => m.Type.Name == "IHttpActionResult" ? "

[2016-11-15 16:10] Jonatthu commented on #141
I think this must be on the project

[2016-11-16 01:54] aluanhaddad commented on #141
Actually, I've started using `dynamic` to reduce the boilerplate

[2016-11-19 23:38] #147 closed

[2016-11-19 23:41] gregveres commented on #140
@aluanhaddad I just re-read what you posted and noticed that you said you have a good setup. Would you mind sharing?

I am in the process of converting all my namespace based definitions to external modules. I am in the process of adopting requireJS to load all my code. I would love to see what others are doing.

If you would like to share, you can either post here or email me at greg.veres @ roge

[2016-11-19 23:44] gregveres opened #149 "right clicking and selecting Render template crashing"
HI @frhagn

This just started happening to me: when I right click on a .tst file and select Render template, I get an exception from VS. The exception is

`Not implemented (Exception from HRESULT: 0x80004001 (E_NOTIMPL))`

I am running VS Community 2015
version 14.0.25431.01 Update 3

I don't know exactly when this started happening - maybe when I upgraded to Update 3?

Is anybody else seeing this

[2016-11-25 11:30] ruant commented on #76
So they've changed the project setup again.

https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/
https://blogs.msdn.microsoft.com/dotnet/2016/10/19/net-core-tooling-in-visual-studio-15/
https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/

https://github.com/dotnet/roslyn-project-system

Looks like this is gonna be the end product, so

[2016-11-28 16:35] tunwin819 opened #150 "Ability to loop through classes without creating files"
For example, I have the following code the create a service for each ApiController in my project:

[code]

I also want to be able to include imports at the top of this file for all my generated types (generated using Typewriter too!) Something like this at the top of the template:

[code]

This currently creates lots of extra files, for each *Model class. It would be nice to be able to list them a

[2016-11-30 04:38] captainjono commented on #149
Yep i am seeing this, just installed today with VS2013 update 5.

[2016-12-07 13:40] lexon0011 opened #151 "Lambda Filtering on custom List<Property>"
We want to return all Properties (from the base Classes too) and be able to Filter them like $Properties. The custom function in use is:

[code]

The Problem with this function is that typewriter ignores Filtering e.g.

- `$Properties(p => p.HasSetter)` -> Just Properties with Setter are returned
- `$getAllPropertiesForClass(p => p.HasSetter) ` -> All Properties from the List are returned (filteri

[2016-12-07 20:53] frhagn commented on #151
Hi @lexon0011,
I'm afraid there's no support for filtering the result of custom methods. What you can do is to move the fileter inside the custom method e.g.
[code]

[2016-12-07 21:45] aluanhaddad opened #152 "Visual Studio 2017 Support"
It would be great to be able to install this extension into Visual Studio 2017.

I know that in the long term you plan to maintain separate plugins for separate Visual Studio versions but I don't know how far off that goal is. In the meantime, I want to use this plugin in Visual Studio 2017.

Thank you.

[2016-12-08 09:48] rob123456 opened #153 "Generic base class type parameter not correct"
When I externalize the following two classes to typescript I end up with the corresponding typescript:
` public class Wrapper<T>{} public class WrapperExtender<T1,T2> : Wrapper<T1> {}`
`interface Wrapper<T>{}; interface WrapperExtender<T1,T2> : Wrapper<T> {}`

It appears that class.BaseClass.TypeParameters goes directly to the BaseClass' definition and uses the type parameter names from there. I t

[2016-12-11 15:45] frhagn commented on #153
Hi @rob123456,

`TypeParameters` gives you the type parameters from the source class. However, if you use `TypeArguments` instead you'll get the type arguments specified where the class is used instead e.g.

[code]

[2016-12-11 15:58] aluanhaddad commented on #140
@gregveres Sorry for the delay. Honestly my feelings about my setup have taken a downturn. Also, they may not be sufficient for your use cases. My use cases are rather simple, I am primarily generating types, not values.
Here is how I generate interfaces from server side model classes:
[code]
Sorry for the poor readability, whitespace generation is a major pain.
Anyway, on build of the containing

[2016-12-11 16:09] frhagn commented on #150
Hi @tunwin819,

Unfortunately it's not possible to combine files the way you want. However you should be able to achieve the end result you're after using a different approach. e.g.

[code]

[2016-12-12 06:36] aluanhaddad opened #154 "Arbitary C# Method definition breaks custom extension expression evaluation"
I added the following method to my `.tst` file
[code]
after doing so, custom extensions were no longer evaluated. That is to say that any `$m` and `$m[$p]` expressions in say `$Classes[...]` were simply emitted as `$m` and `$m[$p]`.

Commenting out the method definition causes evaluation to work as expected. I have reproduced in multiple templates with 100% success.

Here is a minimal repro
[code]

[2016-12-12 14:21] rob123456 commented on #153
Hi @frhagn Thanks for your help, that was exactly what I was looking for!

[2016-12-12 14:21] #153 closed

[2016-12-12 19:21] #154 closed

[2016-12-13 08:47] #141 closed

[2016-12-13 09:04] frhagn commented on #152
Hi @aluanhaddad,
I'm working on this but I'm having some problems with publishing to Visual Studio Gallery while still maintaining compatibility with vs 2013 and 2015. I updated to the new RC version of 2017 yesterday and got a bit further, but I'm not all the way done yet..

[2016-12-13 09:08] frhagn commented on #154
Hi @aluanhaddad,
There was a problem with getting the correct type from the generated template assembly when using Linq-statements in the template. I've fixed the issue, but I still haven't been able to publish the new version to Visual Studio Gallery yet due to some issues with adding support for vs 2017..

[2016-12-13 09:17] aluanhaddad commented on #154
@frhagn awesome! Thank you for the quick turn around, as well as for the explanation!

I am glad to hear that VS 2017 support is in active progress too ❤️

[2016-12-14 08:23] emilsjog commented on #127
Any updates on this? Or a workaround? To solve this we do comment out the ...(1).ts file, not a fun way to go.
We are using typewriter and encounters this issue almost on a daily basis as we change are model quite often.

[2016-12-21 18:01] avantidesai commented on #127
bumping for a solution ..... im stuck too !!

[2016-12-25 11:00] aluanhaddad commented on #152
I just accidentally came across Typewriter in the Extensions and Updates browser for VS2017. I installed it and it is working wonderfully. Thanks @frhagn!!

[2016-12-27 14:46] aluanhaddad commented on #133
There are a number of other tools that use Roslyn, notably OmniSharp and Xamarin Studio. That said, Visual Studio support is all I need personally.

[2016-12-28 18:38] frhagn commented on #152
Fixed in 1.9.0

[2016-12-28 18:38] #152 closed

[2016-12-28 18:52] frhagn commented on #127
Hi guys,
I've just released a new version with improved support for partial types (1.10.0).
The solution is very similar to @KeithHenry's suggestion using different modes that can be configured in the template constructor.
[code]

`PartialRenderingMode.Partial`:
Partial types are rendered as defined in the c# source containing only the parts defined in each file. This is the default rendering mode

[2016-12-29 07:44] emilsjog commented on #127
Hi,

PartialRenderingMode.Combined did the work for us, perfect!.
We tried also PartialRenderingMode.Partial but got the same error as before with "duplicate identifiers".

Thanks a lot for this!

[2017-01-03 21:36] riiight opened #155 "Abstract classes?"
Is there a way to determine if a class is abstract or not so that I can add the "abstract" keyword to the TS class? If not, I think that would be a very helpful feature. Also, if anyone has any workarounds for this, I'd appreciate hearing them.

[2017-01-04 08:48] frhagn commented on #155
Hi @riiight,
I'm afraid it's not possible to determine if a class is abstract in the current version (1.10.0)..
I'll look into adding this functionality

[2017-01-04 10:37] riiight commented on #155
Ok, thanks.

[2017-01-04 11:04] minawalphonce opened #156 "is there way to render all templates in a project during the build ?"

[2017-01-07 06:49] ichpuchtli commented on #107
I want to help as well. This is an amazing project. I think it has massive potential aswell auto generating crud from entity framework.

[2017-01-10 12:16] Phil-R-Cole commented on #127
Hi, the instigator of this thread, @KeithHenry, has moved onto new pastures.  I am working on the same code-base with our products and I can confirm that employing the PartialRenderingMode.Combined setting seems to have resolved the  issues we were facing.
So thanks very much for this enhancement.

[2017-01-12 09:33] #127 closed

[2017-01-15 21:54] kiebor commented on #137
Any progress on implementing it? I was looking for something like this for a large project I'm working on and what this extension does seems a lot more complete than what web essentials offers in the way of typescript.

[2017-01-18 19:13] mikebagheri commented on #152
I am trying to install the extension, but it fails. I am using Visual Studio 2017 Enterprise RC (15.0.26020.0).

Before I was using this in Visual Studio 2015 and it is great.

Any Idea why it fails to install in 2017 RC?

[2017-01-18 20:58] aluanhaddad commented on #155
@riiight I guess it could be useful, and this is not exactly relevant, but deep class hierarchies serialized and mapped from C# to JavaScript and back sound like an absolute nightmare.

This is especially if you plan to use, or end up needing to use, ```instanceof``` in JavaScript/TypeScript as part of your design.
```instanceof``` in JavaScript/TypeScript has drastically different semantics in Ja

[2017-01-18 21:09] aluanhaddad commented on #121
@sonuautade Yeah, but it is better than nothing.

@frhagn Would it be possible to have a way to print message via `System.Diagonistics.Debug.WriteLine` or, better yet, to have a flexible logging mechanism such as
[code]
I'd be happy to create a PR for that if it sounds reasonable/feasible

[2017-01-19 13:56] thegreatco opened #157 "Extract Value from EnumMemberAttribute on EnumValue"
I have an API Wrapper written in C# and I want to share the POCOs with a TypeScript implementation.

I have an enum where the values are deserialized from a JSON API. I have changed the names slightly in the C# enum to better match C# standards. This means I use `EnumMember(Value = "xxx")` to decorate each enum value.

I am using the following Typewriter definition
[code]
With the following enum d

[2017-01-19 16:08] mikebagheri opened #158 "It does not install in Visual Studio 2017 RC"
I am trying to install the extension, but it fails. I am using Visual Studio 2017 Enterprise RC (15.0.26020.0).
Before I was using this in Visual Studio 2015 and it is great.
Any Idea why it fails to install in 2017 RC?

[2017-01-27 09:34] intexx commented on #137
@frhagn — Were you able to find anything in your investigations? I too am interested in VB support.

[2017-01-31 13:05] perangeflo opened #159 "Template in website"
The template doesn't appear for a website project. Is it possible to use Typewriter for that or does it need to be a web application?

[2017-02-02 02:01] mikebagheri commented on #158
An upgrade to Visual Studio 2017 RC 3 (15.0.26127.3) fixed the problem. I can now use Typewriter again!

[2017-02-02 02:01] #158 closed

[2017-02-06 11:32] aj92singh opened #160 "how can i exclude namespace from conversion?"
Whenever i convert my namespace is coming as a module . I want to exclude namespace from conversion. Is there any way to exclude ?

model.tst :
module App {
    $Classes(*Model)[
    export class $Name {

        $Properties[
        //

        public $name: $Type = $Type[$Default];
        ]
    }]
}

EmpModel.cs:

namespace App.Models
{
    public class EmpModel
    {
        public int id { ge

[2017-02-06 12:12] madcamp commented on #103
External reference would be great! We have a Class Library with ViewModels that we use across some projects and it would be great if we could generate TypeScript for these classes.

[2017-02-06 12:41] frhagn commented on #159
Hi @perangeflo,
I'm afraid Typewriter does not work properly when using Web Site Projects so try using Web Application instead.

[2017-02-06 12:50] frhagn commented on #160
Hi @aj92singh,
You can try using a template without defining a module e.g.

[code]

[2017-02-06 13:01] frhagn commented on #157
Hi @thegreatco,

In Typewriter templates enum values are just strings so you'll have to define a method to extract the part of the value you're intrerested in e.g.
[code]

[2017-02-06 13:09] aj92singh commented on #160
Thanks it worked.

[2017-02-06 13:11] aj92singh commented on #160
just one Question:

If i define a class and initialize it in asp.net controller and give it some values. Then is it possible to access those value in angular component via Type Writer generated ts file.

[2017-02-06 13:26] perangeflo commented on #159
Ok, thanks for the reply. I can live with that.

[2017-02-06 13:26] #159 closed

[2017-02-06 17:05] frhagn commented on #160
Check out http://frhagn.github.io/Typewriter/pages/examples.html for info on how you can generate Angular Services to access server-side API:s

[2017-02-07 05:09] #160 closed

[2017-02-07 10:29] xenod commented on #93
Hello, any updates on this one? Would be a really nice feature!

[2017-02-15 07:31] jaenyph opened #161 "Only class own's properties are available"
When using $Class $Properties only the properties defined on the class are available, not all the properties in the hierarchy.

[2017-02-15 14:04] frhagn commented on #161
Hi @jaenyph,
You can access properties from bas classes by using $BaseClass e.g.

[code]

[2017-02-19 15:30] thanhduchuynh opened #162 "Support for function overloading"
C#:

        public class TestMe {
                public void DoSomething(string item)
               {

               }

               public void DoSomething(int item)
               {

               }
          }

Template:
[code]

Output (Won't Compile):
[code]

Expected Output:
[code]

[2017-02-19 17:06] frhagn commented on #162
Hi @thanhduchuynh,
try something like this to group the overloaded methods:

[code]

[2017-02-28 19:37] kawazoe opened #163 "Error when trying to render the template"
## Repro environement

Microsoft Visual Studio 2017 RC4
Resharper 2017.1 EAP 3
ASP.NET Core WebAPI project (with csproj)

## Repro steps

1. Right click on the tst file
2. Select Render Template

## Expected

All typescript files gets updated.

## Actual

An error message titled "Microsoft Visual Studio" with the text "Value cannot be null.\nParameter name: path" appears.

[2017-03-01 08:18] deastr opened #164 "Model generation/rendering doesn't work on Visual Studio.NET 2017 RC4"
Hi,

I'm using Visual Studio.NET 2017 RC (15.0.0-RC.4+26206.0). The current project and its TypeWriter settings, generators, models etc. all works fine in Visual Studio.NET 2015 when the project was in .NET 4.5 but nothing is happening when the C# model changes. in VS.NET 2017 and after upgrading the project to .NET Core (targeting .NET 4.5).  I see "Rendering complete" message on the status bar b

[2017-03-07 19:14] danielmeza commented on #114
I get the attributes but i cannot chec if tey are instances of ValidationAttribute class beacause the references to the using System.ComponentModel.DataAnnotations is missing so when I get the attribute Type I get AttributeIpm instances of the real type from the attribute.

[2017-03-08 07:44] frhagn commented on #114
@danielmeza, try using `attribute.Name == "..."` or `attribute.BaseClass?.Name == "..."`.

[2017-03-08 20:22] LembkeM opened #166 "Generating Imports for custom Types"
Hi,

i've a Problem wir generating Imports for my custom Types.
Is there a way to filter the Methods to Distinct or something like that?

$Methods(method => method.Type.Name != "void" && method.Type.IsPrimitive == false)[import { $ReturnType } from '../../../../shared/models/$ReturnImportType.model'
]

import { Item } from '../../../../shared/models/item.model'
import { Item } from '../../../../sh

[2017-03-10 08:29] acastaner commented on #164
Not sure if this is related or not but the "Typescript Template" doesn't even show up under Add New Item > Web under VS2017 RTW.

[2017-03-11 16:53] gregveres opened #167 "how can I get the filename of a base class?"
Hi @frhagn

I am using Typewriter to create knockout versions of my C# classes. And I am using requireJS so I need to use import statements.

This has been working fantastically until today when I needed to get a knockout version of a class that is inherited. My base class is converted to a knockout TS mode and it got rendered to a file called LeagueViewModel.ts

[code]

I would include this in my

[2017-03-12 23:15] stevie1706 commented on #109
I would be keen on adding some angular 2 extensions when your version 2.0 is ready.

[2017-03-12 23:18] stevie1706 commented on #167
Not sure if it will help but i call all of my classes by the name of the class.

string ImportType(Method m) => ReturnType(m) != "void" ? "import { " + ReturnType(m).Replace("[]","") +  "} from '../../models/managed/" + ReturnType(m).Replace("[]","").ToLower() + ".managed'" : "";

$Classes(Novosco.Integration.Api.Controllers*)[
  $Methods[
    $ImportType
  ]
]

[2017-03-12 23:19] stevie1706 commented on #167
string ImportType(Method m) => ReturnType(m) != "void" ? "import { " + ReturnType(m).Replace("[]","") +  "} from '../../models/managed/" + ReturnType(m).Replace("[]","").ToLower() + ".managed'" : "";

$Classes(Bla.Controllers*)[
  $Methods[
    $ImportType
  ]
]

[2017-03-13 13:56] wonea opened #168 "Unloaded projects break Render Template"
In Visual Studio 2017 clicking Render Template gives error message. Saving individual files still generates TypeScript files.

![image](https://cloud.githubusercontent.com/assets/557192/23857282/ab0d3f46-07f4-11e7-857f-cb38c31480fe.png)

![image](https://cloud.githubusercontent.com/assets/557192/23857319/cdcbbe04-07f4-11e7-8817-24b0c88be3cf.png)

TypeWriter 1.10, Visual Studio 15.0.0-RTW+26228.4

[2017-03-14 10:26] frhagn commented on #168
Hi @wonea,

I can't reproduce this error on any of my machines, but I've just published a new version (1.11.0) which is built using VS 2017 RTM.. It would be great if you could try out the new version to see if it resolves this issue.

[2017-03-14 11:25] wonea commented on #168
Thanks for the new build! It's work for one project, but not another. I've got a feeling it maybe my project is breaking TypeWriter somehow. The TypeWriter out is not showing;

![image](https://cloud.githubusercontent.com/assets/557192/23898187/0a30a89c-08a8-11e7-829d-0e12bc559ca6.png)

Can't seem to find any VS 2017 log files.

[2017-03-14 16:16] wonea commented on #168
My earlier message was a red herring, as the TypeWriter output only appears once it's been used.

However I've noticed in the project I'm having troubles with I get the following warning;

14:56:47.624 WARNING: Falied to save source map for 'C:\Development\My.Core.DTO\Process\Process.cs'. Project type not supported.
15:19:42.641 WARNING: Falied to save source map for 'C:\Development\My.Core.DTO\Pr

[2017-03-14 18:26] PrimalZed commented on #167
You can get the file from Class.Parent.  You just have to cast it to File since the type of Parent is Item.  I don't know if this works from BaseClass, though.  The File class has FullName, which has the full file path, and Name, which has the file name and extension.

If you name your files to match the name of the class, (e.g. KnockoutLeagueCurrentViewInfo class is in KnockoutLeagueCurrentViewIn

[2017-03-14 18:30] PrimalZed commented on #166
You can create a method in C# to handle this.  See the implementation of "KnockoutInitializer" in the examples - http://frhagn.github.io/Typewriter/pages/examples.html

My implementation for importing Types from Properties looks like this:
[code]

[2017-03-14 18:32] gregveres commented on #167
Thanks @PrimalZed

I will try that out when I get done my current feature. What I do know is that the .cs file name maps directly to the .ts file name and I know where those files are being put in the project. So if I can get the .cs filename, I can build the import statement.

Thanks a lot!

[2017-03-14 19:36] LembkeM commented on #166
Hi PrimalZed,

thanks for the hint.
Sometimes it is so easy and you can't see it.

Thanks
Markus

[2017-03-14 19:36] #166 closed

[2017-03-15 10:24] wonea commented on #168
I'm interesting in looking into this warning. I've included an example project showing the warning.

![image](https://cloud.githubusercontent.com/assets/557192/23944048/5f806dde-0969-11e7-9516-806f3bec0aa5.png)

[WebSocket.Common (bug report).zip](https://github.com/frhagn/Typewriter/files/844080/WebSocket.Common.bug.report.zip)

[2017-03-19 14:02] icepower03 opened #170 "static methods"
hello,
 i would like to generate typescript methods to call my pages' webmethods.

my problem is that my Webmethods are static and i can't get static methods of page in typewriter templates ( or i don't know)

is there a solution to change it ?

regards.

[2017-03-22 07:00] icepower03 commented on #170
i saw that class' method loading function where filtered with a (f.IsShared==false), so i guess that this limit was made on purpose.
Does it mean that  it would be technically possible and easy?

[2017-03-27 00:47] eByte23 commented on #133
@frhagn is anyone doing anywork on this? If not wouldn't mind giving it a go. Because I'd like use this with .net core and have the possibility to have a vscode plugin

[2017-03-28 13:19] patrykbuzowicz opened #171 "Enable generating code for referenced external DLLs"
Would it be possible for the Settings object to also configure using the DLLs that are not projects under current SLN but instead are referenced by the project and contain some models?
We're sharing some code between different codebases and the models are also included. And it would be great to be able to have matching TS models automatically generated...

[2017-03-28 13:28] patrykbuzowicz commented on #75
@frhagn I'm loving this piece of code. Therefore bumping this thread - we have a web project that aggregates models and we share the typings with linking the generated .d.ts from that aggregating project. It would be really great to be able to link a single file with all these models :)

[2017-03-28 22:38] cwoolum opened #172 "Parameters in the Url are not encoded"
I ran into an issue where a user was typing a value into an input that was becoming a parameter for a RESTful Url.

An example route for this is ```/tasks/{myTaskId}```. The issue becomes if the user types a url with a ```/``` slash in it. The $Url function should encodeURIComponent any parameters passed into it.

https://github.com/frhagn/Typewriter/blob/84e3625a2a4ba188a16b0707c8e7dc4605b49ab3/s

[2017-03-29 02:14] aluanhaddad commented on #75
@patrykbuzowicz it's easy to generate such file following the re-export pattern. I want it would be great if typewriter did this automatically, It's very easy to do manually, provided you organize things in an amenable fashion.

[2017-03-29 06:42] patrykbuzowicz commented on #75
I really liked the idea of glob include in csproj - I think it should suit the needs that we have. I wanted to bump the thread to see if there's anything planned in that area.
Anyway, what we found more interesting is what the other issue is about:
https://github.com/frhagn/Typewriter/issues/171

[2017-03-29 21:32] patrykbuzowicz commented on #161
I used this piece of code to traverse the entire hierarchy:
`    IEnumerable<Property> GetPropertiesFromEntireInheritanceHierarchy(Class c)
    {
        var properties = new List<Property>();

        while (c != null)
        {
            properties.AddRange(c.Properties);
            c = c.BaseClass;
        }

        return properties;
    }

    interface $Name { $GetPropertiesFromEntireInh

[2017-03-29 21:41] patrykbuzowicz opened #173 "Reusing TST files across multiple web projects"
Hi,
just another question about Typewriter. I have created a piece of logic for serializing C# to TS typings in a single web project. However, the architecture I'm using utilizes plenty of web projects that form layers.
The core layer web project introduces some models that are used in the upper-layer web projects in server-side code and pretty much the same applies to TS code.

I know it's possib

[2017-03-30 20:49] gatimus opened #174 "Code model and Filter for `struct`s"
Can there be an API fro getting `struct`s like classes?

[2017-04-03 16:56] sigVince commented on #36
Here's how to import all needed references (for complex objects and inheritance)
`    string Inherit(Class c)
    {
    if (c.BaseClass!=null)
        return " extends " + c.BaseClass.ToString();
      else
         return  "";
    }

string Imports(Class c){
      List<string> neededImports = c.Properties
        .Where(p => !p.Type.IsPrimitive)
        .Select(p => "import { " + p.Type.ToString(

[2017-04-07 19:13] chadbengen commented on #149
I suddenly started getting this message with VS 2015 update 3, but it had been working previously.  Thinking I had a corrupt environment I reinstalled windows and VS 2017.  I am still receiving this with a clean reinstall.

[2017-04-14 19:58] gravidThoughts commented on #103
Another vote for this feature. Please excuse my ignorance, does reflection not get you what you need?

[2017-04-17 12:08] gravidThoughts commented on #155
@aluanhaddad Could you elaborate further about the relationship between models/DTOs and complex abstract C# class hierarchies? I am trying to formulate a strategy for using a preexisting C# model from Web API to an Angular client with TypeScript.

[2017-04-24 08:42] alansingfield opened #177 "Unable to format constant value as a typescript literal"
Related to #101
The Constant.Value property gives you the raw text of the constant. We need a method to quote and escape this (such as HttpUtility.JavascriptEncode() ) - BUT - there isn't an extension that allows you to use that method.

[code]

There are one of two ways to solve this:
1. Add an extension to allow use of HttpUtility.JavascriptEncode (or equivalent)
2. Add a Constant.ValueLiteral p

[2017-04-26 09:49] jotabe-net opened #178 "Broken international characters: the file is written as UTF-8 and read as ANSI by Visual Studio"
If I use special characters in my code, like an accented u: ú, when the templates are rendered, and I open them in Visual Studio, the special characters doesn't look as expected. In this example Ãº appears where I should see the ú.

I've opened the file with Notepad++, and it detects is an UTF-8 file, and I see the special character as expected. If I try to see it as ANSI, I get the same result as

[2017-04-26 11:07] jotabe-net opened #179 "Requisites for building the project should be included in readme.md"
I'm trying to open the project. There were missing project types, so I tried to open it with VS 2013 after installing VS 2013 SDK, and it didn't work.

I'm trying to open it with Visual STudio 2015 Update 2 with extensibility tools, and get the same problem.

I don't know which version of VS and which extensions are needed to open the project, and I suppose more people can have this problem.

What

[2017-04-26 12:36] jotabe-net opened #180 "Provide a way to manually stop rendering"
If you make a mistake when defining a filter in a project with a lot of objects (classes, enums, interfaces, or whatever) the rendering engine starts creating lots of files, in a very long process.

It would be really useful to have a way to stop the template rendering.

[2017-04-26 12:55] rvalimaki commented on #180
There is a way to do that already. Just restart the Visual Studio ;-).

Seriously, while that is inconvenient, I have used it personally quite often since one of our templates takes about 45 minutes to run.

[2017-04-26 13:37] mailivore opened #181 "Prefix property type with namespace"
Hi,

Suppose that you have two c# classes from different namespaces :

[code]
and
[code]

I would like that the ClassB output file look like this :

[code]

Is there an option or function to prefix the property type with its namespace or to reference this namespace in the definition file (I think that it's not possible in typescript but I can be wrong)?

Thanks.

[2017-04-26 14:55] jotabe-net commented on #179
Let me know if I'm wrong:
- you need Visual Studio 2017, with Extensibility Tools installed
- you need to copy into /lib the DLLs from Visual Studio 2013 listed in readme.txt on that folder

[2017-04-28 17:06] Malanin opened #184 "Indexers"
How do I filter only  indexer properties?

[2017-04-29 11:35] laurentkempe opened #185 "Visual Sutdio 2017 Add New Item doesn't show TypeScript Template"
I have installed the plugin on Visual Studio 2017 and I see it installed but when I try to add a TypeScript Template into my ASP.NET Core project I don't see the file proposed in the Add New Item dialog

![image](https://cloud.githubusercontent.com/assets/272612/25555218/822dad20-2ce0-11e7-81dc-7d49423b9d7a.png)

I tried on a ASP.NET MVC web application and it is the same.

I also tried by adding

[2017-05-01 20:30] aschwartz-satcom commented on #168
I was able to dig into my own encounter with this same exception being thrown on "Render Template" context menu action.  I grabbed the Typewriter source and compiled the extension myself (used jotabe-net's fork since it looked like that one resolves some missing dependencies).

Once I got the debugger attached to an "Experimental Instance" of VS with the extension loaded, I opened up my problemati

[2017-05-04 07:04] wheelibin commented on #185
I also have this problem, but I found you can actually just create the file manually (for example by creating a typescript file and renaming it to .tst) and everything seems to work.

[2017-05-04 08:04] wonea commented on #168
@aschwartz-satcom Thanks for finding this out. @frhagn I can reproduce this bug unloading a project within the solution.

[2017-05-04 12:28] rickhopkins opened #186 "Programmatically Render Templates"
Is there a way to programmatically render the templates as opposed to it auto rendering, or having to right click and select "Render Template"?

I ask because it'd be nice to automate that through a node scripts or something of the sort.

[2017-05-11 20:57] JonoPorter opened #187 "Does not see files added to solution as a link."
To get around the issue of typewriter not seeing code unless it has a direct reference I added this work around.

    [Flags]
#if WEB
    [TypeScriptModel]
    public enum MessageFlagsTypeScriptModel
#else
    public enum MessageFlags
#endif
    {
        None = 0,
        Warning = 1 << 0,
    }

with WEB being defined in my solution using typewriter.
my template file looks for the TypeScriptMode

[2017-05-12 13:10] laurentkempe commented on #185
Thanks @wheelibin I tried that before posting but it doesn't work for me

[2017-05-23 14:15] jeeshenlee opened #188 "Exclude folder of selected folder."
How to **exclude a specific folder** from being included in the project specified?

[code]

[2017-05-25 03:16] jeeshenlee commented on #188
Answered given on StackOverflow by @frhagn

https://stackoverflow.com/questions/44147475/how-to-exclude-folder-from-typewriter-code-generation/44150854#44150854

[code]

[2017-05-25 16:29] agustinbcu01 commented on #52
IEnumerable <Type> MethodDependencies(Method m, bool getEnums){
        return TypeAndGenericTypes(m.Type)
                .Union(m.Parameters.SelectMany(p => TypeAndGenericTypes(p.Type)))
                .Where(t => t.IsDefined && t.FullName.Contains("Model name space ") && (getEnums == t.IsEnum));
    }
    IEnumerable<Type> TypeAndGenericTypes(Type t) {
        var results = new List<Type>();

[2017-05-25 17:09] ronbrogan opened #189 "Support for default parameters"
As it is currently, there doesn't seem to be a way to determine if a parameter for a method has a default value / is optional. This means that we cannot use optional parameters in typewritten methods without the caller of the method having pre-existing knowledge that the parameter is optional and passing `undefined`.

[2017-05-25 17:14] gatimus opened #190 "Attribute value behavior changes on single parameter"
An attribute with multiple parameters will encapsulate strings in quotes like so
[code]
with
[code]
generates
[code]

but an attribute with a single string parameter dose not
[code]
with
[code]
generates
[code]

As a feature request a collection of parameter objects with values on the Attribute model would be more helpful then a stringified grouped value.

[2017-05-26 16:41] gatimus commented on #190
It looks like this behavior is done explicitly with [AttributeImpl.GetValue](https://github.com/frhagn/Typewriter/blob/master/src/Typewriter/CodeModel/Implementation/AttributeImpl.cs#L26). What is the purpose of this?

[2017-06-10 13:07] BamaramMahdi opened #192 "Type Writer for Visual Studio Code"
Hi. As your extension for Visual Studio is very attractive and useful, do you have any plan for Visual Studio Code too? I am fully migrating to VSCode and the lack of this extension really upsets me. TG.

[2017-06-14 14:04] tomerpeled commented on #76
Any plans?

[2017-06-21 07:59] FreeFrags commented on #93
@frhagn did you manage to find out how to get this to work?

[2017-06-22 08:36] klmdb opened #193 "Output seperate files per class"
Is it possible to have seperate files generated for each matched class, irrespective of the file the class lives in?

[2017-06-23 01:46] gregveres commented on #166
Thanks @PrimalZed. I was going a different route and having problems. Your example showed me the way to go for these imports. it worked great.

[2017-07-05 22:09] VadimPanov commented on #150
Hi frhagn,

Where $Imports and $ServiceName come from? There is nothing of the sort in https://frhagn.github.io/Typewriter/pages/documentation.html ...

[2017-07-11 07:35] aredfox commented on #192
I don't know if VSCode and other platforms have support for T4, I think not.
I fear that we'll have to rely on different tooling/mechanism - maybe Scripty could help [ https://github.com/daveaglick/Scripty ]

[2017-07-11 14:58] k-vekos commented on #161
@patrykbuzowicz Where do I put the `GetPropertiesFromEntireInheritanceHierarchy` function?

[2017-07-11 17:05] patrykbuzowicz commented on #161
I found no better way than to place it in the .tst file. I would love to reuse .tst code though across multiple projects

[2017-07-14 09:45] stewart-r commented on #192
I too really like TypeWriter and have wondered about some kind of clone for VS Code.  Is there no possibility of decoupling the T4 from the code analysis and reusing the code analysis from this project? (I FULLY recognise that might be a really easy question to ask and a very tricky one to answer! :-) )

[2017-07-16 02:53] gregveres opened #194 "$RequestData needs special handling for array parameters"
Hi @frhagn

I just ran into this issue:
https://kwilson.io/blog/post-an-array-of-objects-to-webapi-using-jquery/

It turns out that when a WebApi function takes an array of objects, you can't just list the variable that contains the array as the data: parameter. You have to make it an anonymous object:

data: { '': arrayVar }
instead of

data: arrayVar

I was going to handle this in my .tst file b

[2017-07-16 02:54] gregveres commented on #194
Oh and I did try making this an anonymous type by modifying the generated template file by hand and it worked great. My controller now receives the array properly.

[2017-07-18 10:30] GoranBlazevic opened #195 "VS Pro 2017 v15.2 (26430.16 release) error when running Typewriter - not implemented"
When trying to render any template, I get the following error in Visual Studio:

Not implemented (Exception from HRESULT: 0x80004001 (E_NOTIMPL))

Am I missing a component of some sort?

[2017-07-18 13:33] aschwartz-satcom commented on #195
maybe a dupe of this?
https://github.com/frhagn/Typewriter/issues/168

[2017-07-18 13:50] GoranBlazevic commented on #195
Holy smeg, yes it is, that's the thing - unloaded projects in solution cause Typewriter to fail.

Thank you @aschwartz-satcom

[2017-07-18 13:50] #195 closed

[2017-07-20 12:19] ry8806 commented on #186
any news on this? can it be done?
I'm very interested to hear more about this issue

[2017-07-20 17:48] rickhopkins commented on #186
I haven't heard anything, nor have I had a chance to mess with it myself.

[2017-07-21 03:28] r105m opened #196 "CLI interface"
Hi, i'm using Rider to write c# code, and i have no ability to generate typescript without Visual Studio. But VS is too slow and it is painfully to start it.

Maybe you can provide some CLI interface to get rid of dependence of VS?

[2017-07-24 06:16] #179 closed

[2017-07-24 06:16] #178 closed

[2017-07-24 06:22] frhagn commented on #168
Awesome @aschwartz-satcom! Working on a fix..

[2017-07-24 07:06] frhagn commented on #181
Hi @mailivore,

You can add the namespace of the type by using `$Type[$Namespace.$Name]` instead of just `$Type` e.g.

[code]

[2017-07-24 20:12] frhagn commented on #150
Hi @VadimPanov, `$Imports` and `$ServiceName` are custom template methods implemented in the code block at the top of the template (though `$ServiceName` is omitted in the example above).

See https://frhagn.github.io/Typewriter/pages/getting-started.html#custom-methods for more info.

[2017-07-24 20:13] frhagn commented on #155
Support for `$IsAbstract` added in 1.11.0

[2017-07-24 20:13] #155 closed

[2017-07-24 20:18] frhagn commented on #161
@k-vekos, see https://frhagn.github.io/Typewriter/pages/getting-started.html#custom-methods for info om how to use custom methods in your templates

[2017-07-24 20:18] #161 closed

[2017-07-24 20:18] #151 closed

[2017-07-24 20:19] #150 closed

[2017-07-24 20:20] frhagn commented on #149
See #168

[2017-07-24 20:20] #149 closed

[2017-07-24 20:20] #157 closed

[2017-07-24 20:23] #134 closed

[2017-07-24 20:24] #123 closed

[2017-07-24 20:48] frhagn commented on #185
Fixed in 1.12.0

[2017-07-24 20:48] #185 closed

[2017-07-24 20:48] frhagn commented on #172
Fixed in 1.12.0

[2017-07-24 20:48] #172 closed

[2017-07-24 20:49] frhagn commented on #168
Fixed in 1.12.0

[2017-07-24 20:49] #168 closed

[2017-07-24 20:49] #120 closed

[2017-07-24 20:51] #51 closed

[2017-07-25 11:18] mikolus opened #197 "Encoding number parameters in Url"
Fix for #172  adds call to the encodeURIComponent for url parameters even when the parameter is number, but that method only takes string. I guess it should check for the type of the parameter.

[2017-07-25 14:23] frhagn commented on #197
Hi @mikolus, sorry about that!
I've published a new version (1.12.1) that should resolve this issue, could you please confirm? Thanks

[2017-07-25 14:29] dhjgodin opened #198 "$RequestData renders incorrectly"
I have the controller method

[code]

My typewriter code is
`return this.http.$HttpMethod(`$Url`, $RequestData)`

It now renders

`return this.http.delete(`list/${fooId}/${encodeURIComponent(barId)}`, barId)`
instead of
`return this.http.delete(`list/${fooId}/${encodeURIComponent(barId)}`, null)`

And no longer compiles.

[2017-07-25 14:45] mikolus commented on #197
Perfect, it works great, thanks a lot!

[2017-07-25 14:45] #197 closed

[2017-07-25 15:06] frhagn commented on #198
Hi @dhjgodin, sorry about that..
I've published a new version (1.12.2) that should resolve this issue, could you please confirm? Thanks

[2017-07-26 08:35] dhjgodin commented on #198
Yep that's working now. Cheers for the quick turn around.

[2017-07-29 07:27] enriko-riba commented on #172
This breaks my existing codebase :-(

This script:
[code]
generates the following output:
[code]

as a quick solution the parameter enclosed by encodeURIComponent should be cast to any

[2017-07-29 07:33] enriko-riba opened #199 "Encoding parameters in Url"
The changes introduced by #197 and #172 have an issue if the url parameter is strongly typed.
Please see my example in #172.

Could you add a cast as any in the emitted code?
e.g.` /${encodeURIComponent(id as any)`

[2017-07-29 13:46] frhagn commented on #199
Hi @enriko-riba,
what version are you using? This issue was (hopefully) fixed in 1.12.2

[2017-07-29 13:47] #198 closed

[2017-07-29 20:10] enriko-riba commented on #199
Yes, sorry, wasn't using 12.2.
The emitted TS code is correct with the latest version:
`public static Url_GetPdfById = (id: number) => baseUrl + `api/xyz-pdf/${id}`;`

[2017-07-29 20:10] #199 closed

[2017-08-01 03:30] robertmclaws commented on #171
This is even more important when you're using libraries like NodaTime for your models, and want the information to come over the wire properly.

[2017-08-01 15:03] ronbrogan commented on #172
@enriko-riba Our team just ran in to the same problem. Upgrading to 1.12.2 fixed it for us.

[2017-08-03 14:02] pjsvis opened #200 "$RequestData should return undefined instead of null for get and delete http requests"
Below is a fragment from my generator for an AngularJs $http request

[code]

For get and delete requests $RequestData returns null.

This works fine in Typescript 2.3.4 and upwards

However when I switch on the tsc --strict flag I get the follwing error:

[code]

I guess I can write a method to convert the null to `undefined`

However, I thought I would report the issue as it may be a minor bug.

[2017-08-06 05:43] miguel1603 opened #201 "Web API extensions for ASP.NET Core 2.0"
Apparently the api extension is not working well when mapping the url

[code]

Correct route above would be `api/user/GetUserName`
Current `GetUserName`

[2017-08-08 10:01] pjsvis commented on #200
Silly me. Ignore this issue.

[2017-08-08 10:01] #200 closed

[2017-08-08 10:07] WoFloTo opened #202 "Support for special charactes in comments"
We have some C# comments that look like this:

[code]

The generated TypeScript looks like this:

[code]

What we need is:
[code]

To achieve this we changed the following in src/Typewriter/CodeModel/Implementation/DocComment.cs
Line 21:
[code]

line 24:
[code]

[2017-08-14 14:25] Marcel1024 commented on #201
this is solved in #191

[2017-08-16 09:04] alirezapooneh opened #204 "TypeWriter does not render tst after update visual studio to 15.3"
I installed last version of TypeWriter in Visual studio 15.2. Rendering tst files was done successfully. But after update VS to 15.3, rendering tst files do not generate ts files or update them. Also when right click on tst file and select Render Template.

[2017-08-16 09:25] Sc0tTyXL commented on #204
Just tested is in one of my solutions but seems to work as expected.

Deleted all generated filed and used Render Template to get them back.

VT15.3, TS2.3 and .NET Framework 4.6 ASP.NET MVC

[2017-08-16 10:01] frhagn commented on #204
Hi @alirezapooneh,
everything seems to be working fine for me so maybe the issue is related to something specific in your setup.
Could you provide som more details of the problem like project type, target framework etc. and also check if there's any info in the output window under 'Typewriter' after you try o render a template, thanks.

[2017-08-16 10:11] alirezapooneh commented on #204
I create new empty web project and try again by first sample tst template on github. but only show "Rendering completed" on my status bar and no file geneated.
Output window does not show any log and has no item to select TypeWriter (in from section or output window)

VS 15.3, TS 2.3,  .NET Framework 4.6 ASP.NET MVC;

Also I download source code and compile ad run all tests, 8 test failed!

[2017-08-16 10:31] alirezapooneh commented on #204
see it:
[https://1drv.ms/i/s!AhGEtzvFCKT5nlcMaWvSDVBAKoLK](url)

[2017-08-16 13:33] mlouage opened #205 "Support for public static readonly fields"
I cannot get public static readonly fields to get picked by TypeWriter.

models.tst

[code]

C# class

[code]

[2017-08-19 13:37] alirezapooneh commented on #204
Hi @frhagn
Can I enable Log mode or Debug mode in rendering to find problem?!
I repair VS 2017, uninstall TypeWriter and install again, reset VS settings and other solutions, But could not solve the problem.
Please help! My project is in last step is blocked! ;(

[2017-08-19 19:34] frhagn commented on #204
Hi @alirezapooneh,
You can try to open your solution in the experimental instance of Visual Studio while debugging Typewriter. To enable debugging you'll need to change a couple of properties on the Typewriter project e.g. set start action to "Start external program" with the path "C:\Program Files (x86)\Microsoft Visual Studio\2017\<Your edition>\Common7\IDE\devenv.exe" and add "/RootSuffix Exp"

[2017-08-20 12:29] gregveres opened #206 "How to post ajax data in body rather than url"
Hi @frhagn

I use typewriter to create Typescript interface files for my REST api. I have a C# base class that all my API controllers derive from so I use that as the trigger in typewriter.  Here is my current .tst definition:

[code]

but this puts all the post parameters into the URL and that gets big and messy some times. I would like to put the data into the body of a post. To do that I need t

[2017-08-20 18:03] gregveres commented on #206
Thanks @Marcel1024.

I see that you are using a predicate expression to limit the method selections. Thats good. I will see if I can work with that to select a different template based on $HttpMethod.

I am always curious to see how others do things. So I have a couple of questions about why you are approaching it the way you do, if you don't mind...

why do you have the ajax methods in an io clas

[2017-08-21 14:55] icepower03 commented on #205
+1 for static objects ( especially static methods for me)

[2017-08-22 07:55] chifret opened #207 "Binary type"
Hi,

When rendering the classes, the c# variable type "Binary" keeps on staying Binary in Typescript.
`        public virtual Binary  myVar { get; set; }`
becomes :
`        public myVar: Binary = null;`

Couldn't that be a problem , because of this :

(https://www.typescriptlang.org/docs/handbook/basic-types.html)

Thanks in advance for your support !

[2017-08-23 14:01] JavanXD commented on #76
I am getting `15:52:12.731 WARNING: Falied to save source map for 'C:\Projects\PEP Balance Web\pepbalance\src\WebApp\Core\ViewModels\AddressViewModel.cs'. Project type not supported.` if I save my Template.

Otherwise, it works great in my Visual Studio 15.3.2 **Core 2.0** Project.

[2017-08-25 17:03] michel-weber commented on #122
If you might be wondering what a barrel is:

See this link for more details:
https://basarat.gitbooks.io/typescript/docs/tips/barrel.html

[2017-08-25 18:15] aluanhaddad commented on #122
The term Barrel is not commonly used outside of the Angular 2+ world and I would suggest calling this "index file support".

Having said that, as noted in Basarat's book, it may indeed be useful, and is a popular pattern in CommonJS modules.

In fact the practice itself originates more in NodeJS world, where it doesn't have so much of an official name but simply refers to the practice of importing

[2017-08-25 21:49] kcostenbader opened #208 "Any way to extract enums embedded in a class?"
I have been trying to configure a script for a good part of the day to generate TS for enums embedded in a class, i.e.

    public class Test
    {
        public enum MyEnum
        {
            None,
            One
        }
    }

However the enums are completely ignored by TypeWriter. If I move the enum out of the class, the TS is correctly generated, but I cannot figure out how to handle th

[2017-08-27 14:50] psachs21 commented on #208
@kcostenbader You can extract them by using `$NestedEnums` and then construct them as you desire (convert them to a type or as a an enum). I use them as Types because I happen to like literal types:

[code]

[2017-08-28 02:51] kcostenbader commented on #208
That’s outstanding, thanks for the quick response!

*From:* Paul Sachs [mailto:notifications@github.com]
*Sent:* Sunday, August 27, 2017 7:50 AM
*To:* frhagn/Typewriter
*Cc:* kcostenbader; Mention
*Subject:* Re: [frhagn/Typewriter] Any way to extract enums embedded in a
class? (#208)

@kcostenbader <https://github.com/kcostenbader> You can extract them by
using $NestedEnums and then construct them

[2017-09-01 15:25] francipvb commented on #201
What about mixed [Http{Get|Post|Delete}] routes?

they doesn't work well with WebAPI extensions with ASP.Net Core.

Cheers,

[2017-09-01 15:33] francipvb commented on #201
Test this:
[code]

with this:

[code]

This is the result:

[code]

Expected is this:

[code]

Cheers,

[2017-09-02 16:54] Marcel1024 commented on #201
thats strange. are you sure you are using version 1.13.0?
I've added some unit tests supporting your case.. see above.

am i missing something?

[2017-09-02 17:15] Marcel1024 commented on #206
Hi Greg,

I don't know if the way i do it is a good way. whatever works for you should be ok.
The way with the io property is just conveniënt for our projectmembers so they'll know it was generated and its splitted with their (javascript) controller code.

For the cache part..yes, we were having some troubles with a grid where data was updated on an other machine. Edge would return cached data so

[2017-09-02 17:17] gregveres commented on #206
Thanks Marcel.

[2017-09-02 18:08] Marcel1024 commented on #207
Not sure i understand..

Binary is not a C# primitive. Meaning...Binary is probably a self made c# class object in your sample.
Therefore Typewriter will also return the type name Binary.

I think you mean this:

`
public virtual byte[] myVar { get; set;}
`

with the current codebase, this will render as:

`public myVar: number[];`

which is correct typescript as you stated in your post.

[2017-09-05 17:41] cwoolum opened #210 "Have functions outside of $Classes"
I'm trying to generate imports statements for some nested C# classes. The problem is that putting my $Imports function inside of $Classes cause duplicated import statements to get generated which is not valid TypeScript. Ideally, I want to have my customer $Imports function to sit before $Classes and it would generate imports statements for the entire ClassCollection but TypeWriter isn't picking i

[2017-09-08 14:39] rob123456 commented on #137
I've just had a look into something related to this and from what I can tell it might simply involve amending [Template.cs line 99](https://github.com/frhagn/Typewriter/blob/26377f686b67b9758f5bbd918770b125682a89a3/src/Typewriter/Generation/Template.cs#L99) so that it searches the solution for vb code files as well as cs ones.

Unfortunately for me it seems like there won't be any F# support anyti

[2017-09-10 00:30] InteXX commented on #137
@rob123456 — This looks interesting, thank you. As schedules allow I'll work on getting a PR submitted. That's a shame about F# support.

[2017-09-11 10:17] bandersen22000 opened #211 "List of all attributes"
Hi

I have the following C# model, that I convert to a TS clsss. But for each property I would like to have a method that returns all the attributes, for the current property. Is this possible ?

I would suggest making a list of attributes classes. But I don´t know how to append $Properties[$Attributes[FullName: $FullName;Name: $Name;Value: $Value;]] to a list or if it is possible ?

The  C# model

[2017-09-11 12:57] Michael-Tajmajer-Emrsn opened #212 "If output file is deleted, it is not automatically regerated"
When a typewriter enabled project is opened missing TS files are not automatically generated.  We must right click on each missing file and select "Render Template".

Is their a setting that will force regeneration if the file is missing?

Also, is their any way to force regeneration of all the files?  We have found that changes are not automatically detected and to be safe we must regenerate all

[2017-09-13 01:29] michaelaird opened #213 "Generate for dependencies of specific classes"
I've been bashing my head against this for most of the day and I can't figure it out. I'm hoping it's even possible.

Here's the scenario: I want to generate a service for specific WebApi controllers and also generate interfaces for the supporting DTOs and enums that are used by those controllers. I don't want to  generate interfaces for all DTOs and enums, just the ones that are actually used by

[2017-09-13 10:35] mahmoudelgawad commented on #213
May the following link help you:
https://stackoverflow.com/questions/41552602/typewriter-render-from-list-of-c-sharp-class-names

[2017-09-13 10:47] michaelaird commented on #213
Yep. I’m using a lambda to specify the API controller names. I’m then
trying to inspect the methods in those controllers and render interfaces
for only the dtos used by the controllers.

I suppose I could hardcode the list but I’m trying to do it dynamically.

On Wed, Sep 13, 2017 at 6:35 AM mahmoudelgawad <notifications@github.com>
wrote:

[2017-09-15 12:07] msawczyn opened #215 "Support for IsAbstract in Method"
Thanks for adding $IsAbstract to Class ... it would be extremely useful to have it in Method as well.

My use case is that I'm generating translations for service classes, and the services inherit from a base class. The base class has been abstract alI along, but I just ran across a need to add an abstract method there and implement in the derived services. Generating the TS, I'm getting two imple

[2017-09-16 04:40] gregveres commented on #206
Thanks to Marcel, I have typewriter generating posts with the data in the body. For anyone looking at the code, I first wondered why Marcel had checks for requestData being null as part of the lambda expression. It turns out you need that to select the proper form of the ajax call when there are no arguments.

[2017-09-16 04:40] #206 closed

[2017-09-16 08:58] Marcel1024 commented on #213
this should get you started:

[code]

Then use:
[code]

[2017-09-16 09:52] Marcel1024 commented on #213
oops, posted this to the wrong question.

[2017-09-18 08:20] rvalimaki commented on #212
For regenerating all the files we are using the trick of saving the template file. You can for example add an empty row to the end of that file, then delete that row and then hit the save, and all your files (for that template) will be regenerated. (We happen to have several different template files for different purposes, so we need to repeat this trick for every template when needed.)

Exactly s

[2017-09-18 12:05] Michael-Tajmajer-Emrsn commented on #212
This is fine for a few templates -- we have about 30 now, and will continue to add more.  Opening and saving 30 templates is not a valid use case for us :-(

I posted a PR that adds a "regerate all" to the context menu -- we're using that version of Typewriter until it may be merged.

[2017-09-18 13:01] mahmoudelgawad commented on #174
Searching For the same , Any Updates ?

[2017-09-20 13:28] JavanXD commented on #168
I am getting these outputs all the time:
[code]
VS 2017 15.3.4
Typewriter 1.12.2

How can i disable these warnings?

[2017-09-21 15:18] mailivore opened #216 "Version 1.13 not available for download?"
Hi,

I would like to update to 1.13 to fix my asp.net core routing.
It seems that you released this version one month ago but only 1.12.2 is available for download.

Where can I find the last version?

Thanks

[2017-09-21 19:09] frhagn commented on #216
Hi @mailivore,
unfortunately I haven't been able to publish the new version (1.13.0) to the Visual Studio Gallery due to an error in the gallery.. Microsoft has been investigating the issue for a month now so hopefully the issue will be resolved soon.. Meanwhile you can download it from https://github.com/frhagn/Typewriter/releases

You can follow the issue here: https://developercommunity.visuals

[2017-09-22 07:24] mailivore commented on #216
Thanks, I was not able to find the release page by myself.

The update solved my problem, thanks for this amazing plugin!

[2017-09-22 19:36] frhagn commented on #216
The publishing issue is resolved so the new version is available in the marketplace now.

[2017-09-22 19:36] #216 closed

[2017-09-26 16:56] WoFloTo commented on #75
I am simply doing a `copy /b *.tsx generated.ts` after generating all the files.

[2017-09-28 08:20] thesmallbang opened #217 "DocComments only works when saving the .tst file"
my config

`
namespace MyNamespaceTypes { $Classes(A.Namespace*Model)[
	/** $DocComment  */
	export interface $Name { $Properties[
	 /** $DocComment  */
		$name: $Type;]
	}]
}
`

If I open a model and save the changes the .ts file is generated without comments
If i open the .tst file and save changes the .ts file generated contains the comments as expected

[2017-10-01 14:33] frhagn commented on #215
Hi @msawczyn,
I've added this in Typewriter 1.14.0.

[2017-10-01 14:33] #215 closed

[2017-10-01 17:32] frhagn commented on #217
Hi @thesmallbang,
that's wierd.. I've tried your code snippet om my machine and it renders the comments both when saving the cs-file and the template..

Are you running the latest version of Typwriter (1.14.0)?

[2017-10-01 17:53] frhagn commented on #211
Hi @bandersen22000,
try something like this:

[code]

[2017-10-02 13:37] jeroenlorrentop opened #218 "$url generates empty string with version 1.13"
When using  Typewriter.Extensions.WebApi with .net 4.6.1 $url generates an empty output.

[2017-10-02 13:39] jeroenlorrentop commented on #218
Same issue in 1.14

[2017-10-04 14:53] nnic commented on #213
I've also been trying to do this, and and I have found a way, however, it will only create one file with all the interfaces and enums in, and will only look one level deep, but this can be extended.

`${
    using Typewriter.Extensions.Types;

    bool ClassFilter(Class c) => c.FullName == "Namespace.ViewModel";
}
$Classes(c => ClassFilter(c))[
export interface $Name {$Properties[
    $Name: $Type

[2017-10-04 15:24] michaelaird commented on #213
Interesting. That might be a viable solution. If the same dependency gets used multiple times it might show up multiple times but TypeScript will just combine them. Some kind of recursion on the template would be useful....

[2017-10-04 23:50] thesmallbang commented on #217
Sorry once i had my workaround i moved on and forgot to follow up. I will test again tomorrow and update this issue.

[2017-10-06 15:06] rbatka opened #219 "1.14.0 VSIX won't install in VS 2017 Pro, previous versions work fine."
I get the following error when trying to install Typewriter in a freshly installed VS2017 Professional, both through the extensions browser inside VS and from the releases here on github. It seems to be an issue only affecting the latest release, 1.14.0.

I went and grabbed the previous release (1.13.0) and it installed fine.

Thought you might want to know.

![image](https://user-images.githubuse

[2017-10-08 01:44] thesmallbang commented on #217
I still plan to review the issue and provide feedback.

[2017-10-08 20:34] Marcel1024 commented on #218
Hi jeroen,

asuming your controllers inherit ApiController, what does this code generate?

[code]

[2017-10-09 07:04] frhagn commented on #219
Hi @rbatka
Thanks for pointing this out. What specific version of Visual Studio are you running? E.g. 15.x.y

[2017-10-09 11:29] jeroenlorrentop commented on #218
We have a baseapicontroller so when I use following template:
[code]

Output (for controller with 2 methods):

[code]

So I created a TestController (which directly inherits ApiController and added a method to it.

template :
[code]
output:

` /api/Test/;`

[2017-10-09 13:50] rickbatka commented on #219
VS version is 15.0.0-RTW+26228.4
Typescript version I have installed is is 2.1.5.0 (if that matters)

[2017-10-09 16:40] Marcel1024 commented on #218
i see your point...

I created a patch..
what i've done:

controller:
[code]

will result in:

`api/Inherited/inherited/${id}`

Does this suit your needs?

[2017-10-09 17:40] jeroenlorrentop commented on #218
Yes this patch will probably fix our issues 👍
Just wondering what could be changed between 1.12 and 1.13 that broke it in the first place.
Just in case it would make a difference: we are not using route attributes, but a global route config.

[2017-10-09 17:47] jeroenlorrentop commented on #218
Yes I mean like that. It worked in every version before 1.13

[2017-10-09 19:53] frhagn commented on #219
Hi @rbatka,
I just published a new release (1.14.1) that hopefully will resolve this issue.
It would be great if you could verify that it works..
Thanks!

[2017-10-09 19:55] frhagn commented on #218
I just published a new version (1.14.1) including @Marcel1024's fix (great work by the way) and a fix for convension-base routing.

[2017-10-09 21:42] rickbatka commented on #219
That fixed it!

Thanks again for the awesome plugin.

[2017-10-10 00:18] michaelaird opened #221 "Type.BaseClass vs base "Type""
I'm trying to write some code that will iterate through Types and yield return Types. I'm running into a roadblock when I need to deal with the base class of a Type because BaseClass is a Class instead of a Type.

Is there a way to convert from a Class to a Type or would it be possible to add a property to Type for BaseType that returns a Type?

[2017-10-10 00:26] michaelaird commented on #213
@nnic your approach gave me some ideas and I took another crack at it tonight. I have something 95% working but I'm struggling with bringing in base types (I've opened issue 221 for that).  Here's a gist of what I have so far : https://gist.github.com/michaelaird/cfd15cebe92585556be2a14abff9dff4

[2017-10-10 07:09] pjsvis commented on #188
You can also include/exclude on at class level using attributes. Below is an exclude attribute.

[code]

In your tst template you would target the attributes as follows:

[code]

[2017-10-10 11:18] jeroenlorrentop commented on #218
Just installed the new version, seems like the issue is still there. If I put the route attribute on the controller it works but with convention routing it doesn't.

[2017-10-10 17:37] Marcel1024 commented on #218
There is a contant variable with default route defined with `api/{controller}/{id?}`

When i run the unit test, on the following class :
[code]
The result for $Url = `api/RouteLess/${id}`

Can you post a controller class you use? (may be anonymised, just leave all attributes intact)

[2017-10-11 12:13] jeroenlorrentop commented on #218
Just did some additional testing. Looks like it works when no method attributes are used (e.g. HttpGet).
We are not following the default route but have a route api/{controller}/{action}. With version 1.12 we had to do like this to get the full url:
` url: "/$Url$Name", `
It is not the ideal way but worked for us untill now :-)

[2017-10-11 12:18] jeroenlorrentop commented on #218
[code]
This is how most of our controllers look like.

[2017-10-11 12:47] Marcel1024 commented on #218
can you please try the following:

[code]

[2017-10-11 13:18] jeroenlorrentop commented on #218
Exactly: Without attribute it works. With it doesn't. Will try again when your change is merged 👍
Thanks for your effort!

[2017-10-11 17:54] #219 closed

[2017-10-12 08:38] joelving opened #223 "Type.Default() does not correctly detect collections or dictionaries"
Type.Default() renders "null" for IList<T>, List<T>, and IEnumerable<T> rather than "[]" as expected. Changing to T[] works as expected.
Dictionary<T1, T2> renders "null" instead of "{}" as expected.

Tested on .Net Core 2.0, Visual Studio Community 17, v. 15.3.5, with Typewriter 1.14.2.

[2017-10-12 12:54] joelving opened #224 "[FR]: Substitute 'any' for properties of unknown type"
**Feature request**: It would be useful to render complex types, which aren't themselves rendered by Typewriter, could be rendered as 'any', since it will not compile in its current form.

Example:
`public IList<UserLoginInfo> CurrentLogins { get; set; }`
Might render as
`currentLogins: UserLoginInfo[]`
But since UserLoginInfo isn't rendered it doesn't compile. An alternative would be to render it

[2017-10-14 10:07] michaelaird commented on #224
For us, this wouldn't make sense. We sometimes render the method in one template and the dependencies (DTOs) in a separate template. I don't think the templates know anything about the types that other templates might have rendered  (or will in the future).

[2017-10-14 19:32] RandyBuchholz opened #226 "Work for Inner Classes and Include Base Classes"
I have two items here, that can be broken out.
I'm playing with Razor Pages and embedding View Models inside them. The ViewModels inherit from a reference model. I have a "TypeWriter" attribute to trigger generation.
[code]
The class LocalPerson is not generated from inside IndexModel. If I move it out on its own, it generates, but only the local property (Message), and not Age.

Ideally, this wou

[2017-10-14 20:32] riiight opened #227 "Class.Interfaces always empty"
Hello,

I have a simple class that implements a simple interface in C#.:

`public class Top : ISpinable    { ... }`
`interface IVotable { ... }`

Typewriter successfully converts it to a .ts, but whenever I debug and check the classes .Interfaces, it is always empty.

I'm using VS2017 and the latest version of Typewriter.

Thx.

[2017-10-14 20:45] riiight commented on #227
I solved the issue. It looks like interface must be explicitly marked as public:

`public interface IVotable { ... }`

Leaving this in case it helps someone in the future.

[2017-10-14 20:45] #227 closed

[2017-10-15 13:15] frhagn commented on #226
Hi @RandyBuchholz,
Typewriter only works on top level classes so in order to render nested classes you'll need to change the template to something like this:
[code]

[2017-10-15 13:22] frhagn commented on #224
Hi @joelving,
@michaelaird is correct, the templates doesn't know what types have been generates so this isn't possible to implement..

However, if you don't want to generate certain types you can use a custom method in your template e.g.
[code]

[2017-10-15 14:54] frhagn commented on #223
Hi @joelving,
thats wierd, I just tested this on my machine with the same setup as you describe and it works as expected. Could you provide a sample of your template and c# source file? Thanks

[2017-10-15 14:57] frhagn commented on #218
Have you had a chance to verify this @jeroenlorrentop? The fix is included in Typewriter 1.14.2

[2017-10-15 15:09] frhagn commented on #212
PR released in 1.14.0

[2017-10-15 15:09] #212 closed

[2017-10-15 15:22] frhagn commented on #221
Added support in Typewriter 1.15.0 for casting Class, Enum and Interface to Type e.g.
[code]

[2017-10-15 20:42] michaelaird commented on #221
This perfectly solves my need. Thank you!

[2017-10-15 20:42] #221 closed

[2017-10-16 11:14] jeroenlorrentop commented on #218
Just verified, works as expected. Great work!

[2017-10-16 11:14] #218 closed

[2017-10-17 08:38] guifeliper opened #228 "Do we have support to Json.net?"
That sounds dumb, but I have the models from my Backend different than my Frontend, so I have a middle layer to treat things like this.
I want to implement typewriter, but does it support Json.net?
I have the Model in C# like:

[code]

And I want the result inside the Typescript as:

[code]

[2017-10-17 08:43] Sc0tTyXL commented on #228
Is there a reason you are naming the properties start_date and not StartDate?

You could then just use: Json.NET's CamelCasePropertyNamesContractResolver and remove the json property declarations:  https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_Serialization_CamelCasePropertyNamesContractResolver.htm

[2017-10-17 08:53] guifeliper commented on #228
The JsonProperty already help me to have any named property I want. Because sometimes I have the **price** in the backend and the frontend uses **val** or **p_value** to **val**.
And the function that you show just map the camelcase items.
I already have the interfaces created in the Frontend and I would like to change to the typewriter, but I cannot change all the names as the backend because we

[2017-10-17 13:42] frhagn commented on #228
Hi @guifeliper,

You can parse the JsonProperty attributes to get the property names using a custom template method e.g.
[code]

[2017-10-17 14:16] guifeliper commented on #228
Hello @frhagn
That is my Models.tst right now:
[code]

And the Typewriter doesn't run anymore.

[2017-10-17 15:39] marxxxx opened #229 "Typewriter doesn't work with project type "Website""
Hi,

is this a known issue or something that can be changed?
Typewriter doesn't seem to do anything when the project type is a website instead of a web application.

Thank you!

Kind regards
Markus

[2017-10-17 19:29] michaelaird commented on #229
Website projects don't have a  *.*proj file and aren't represented as real projects to Visual Studio. TypeWriter relies on that project representation to add output files from the template to the current project.

[2017-10-19 21:21] michaelaird commented on #213
With the latest release, my issues are solved.

[2017-10-19 21:21] #213 closed

[2017-10-20 01:49] D-Bullock opened #230 "Attribute.Value is empty"
Hi,

I'm trying to use Method.Attributes.Value and it's returning an empty string. It seems to be a new bug as I had code using it before that worked.

The code below is my test setup.
[code]

I have been using this method to determine the return type of my WebApi code, using the "ProducesResponseType" attribute. An example is below.

[code]
Is there another work around I could use?

[2017-10-20 02:18] D-Bullock commented on #230
Hi,

I found the issue. There was a compile issue in my code and somehow that was stopping the attribute binding from working.

I couldn't see it before because it was hidden by 100s of TypeWriter errors and even more typescript errors.

It's particularly strange as the error in question was completely unrelated to attributes - I had a property set to the wrong type.

Perhaps the error reporting s

[2017-10-20 02:18] #230 closed

[2017-10-20 14:05] alan994 commented on #106
Are there any progress with this feature request?

[2017-10-25 08:01] bandersen22000 commented on #211
Thanks.

I ended up using the following:
`export class $Name {
$Properties[
    // $LoudName
    public $Name: $Type = $Type[$Default];

    $Name_attributes() {
        var attributes = new AttributeModel();
        attributes.Description = "$GetDescription";
        attributes.StringLength = $GetStringLength;
        attributes.IsRequired = $IsRequired;
        attributes.Name = "$Parent.$Name";

[2017-10-25 12:04] mskovacic opened #231 "ValueTuple not recognized"
C# ValueTuple type is neither recognized in tst file nor Typewriter output.

input C# file:
[code]

generated TypeScript with default tst file:
[code]

When I change the tst file into
[code]

I get that ValueTuple isn't recognized even in the tst file, with the following output:
[code]

[2017-10-26 20:06] DanteNirav commented on #212
Hey guys,

Any update on this? or code snippet for regenerating all files.

My Problem is :-

I have a base class which gets updated, and the changes in the base class is not getting ported in the derived classes.

Thanks for helping out

[2017-10-27 17:29] Beej126 opened #232 "Using 3rd party assembly routines in Custom Methods"
@frhagn - we are yet another grateful consumer of your handy package. thank you!

i was hoping to use [Humanizer](https://www.nuget.org/packages/Humanizer/) nuget package to do some automatic property name camelCasing... i thought it'd be simple `using Humanizer;` but it seems the TypeWriter template context is only aware of Microsoft, System & Typewriter namespaces.

Any help?

![image](https://u

[2017-10-28 14:35] michaelaird commented on #232
Not sure if this is exactly related. I'd like to be able to share code between templates. ie. I'd like to be able to write my own helper methods that are reused across templates. This could be by writing a separate assembly that is referenced or (ideally) a .cs class that has access to the Typewriter types.

[2017-11-06 11:22] wonea opened #233 "$DocComment work with /// <inheritdoc />"
$DocComment resolves inherited doc comments as blank.

public class TestClass : IBaseClass
{
   /// <inheritdoc />
   public int Id { get; set; }
}

public class IBaseClass
{
   /// <summary>
   /// Ids
   /// </summary>
   public int Id { get; set; }
}

TypeScript:

export class GetProcess {
   //
   public ids: number;
}

[2017-11-06 11:44] wonea opened #234 "DocComment cannot contain &"
& in $DocComment causes an error

[code]

Visual Studio Error:
`Error rendering template. Cannot get identifier 'DocComment'. Error: Root element is missing..`

[2017-11-08 07:25] harishrathi commented on #128
+1, needs support for .njsproj projects

[2017-11-08 08:57] Sc0tTyXL commented on #128
@harishrathi I lileraly converted a nsproj to csproj yesterday, didn't think to check GH.

[2017-11-09 09:25] lexon0011 opened #235 "Try to write some information to a external file"
I tried to implement the following code:

[code]

If I change the parameter of StreamWriter to `new System.IO.StreamWriter("D:\test.txt")` the correct path (content of exportFile) is written to the text file. But as soon as I tried to set the parameter to the variable (exportFile), the PlatosBasePath will be changed to C:\ - It's i little bit confusing for me? Whats the problem here?

Thanks!

Reg

[2017-11-11 17:39] KamelJabber opened #237 "Create model per API method"
I'm not sure sure if this an issue, however, I have written a .tst that creates angular (not angularjs) services for each .net api controller.  I also want to create the typescript interfaces for the models used based on the API methods.

I have done that also.

My issue is, since I'm creating **models per method** I am getting duplicate model definitions.  I can't create separate .tst strictly fo

[2017-11-11 19:48] Beej126 commented on #237
coming in off the cuff but pretty sure I’ve made global variable (e.g. modelArray) in the same scope as helper functions like “LoudName” in getting started docs

Beyond taking that “save and check” approach, what about using classname pattern or better yet attributes to explicitly target these model classes you want to emit

[2017-11-13 15:31] alexdresko commented on #192
Scriptly looks legit, but here's what I found RE: T4 in VS Code...

ZeekoZhu/T4-Template-VsCode: T4 Template support for vscode
https://github.com/ZeekoZhu/T4-Template-VsCode

T4Awesome - Visual Studio Marketplace
https://marketplace.visualstudio.com/items?itemName=FrankWisniewski.T4Awesome

Scripty, a C# T4 Alternative | Coding4Fun Blog | Channel 9
https://channel9.msdn.com/coding4fun/blog/Script

[2017-11-19 14:51] ADefWebserver commented on #237
I created a tutorial that may help: [Turbocharging Your Angular 4+ Development Using Typewriter](http://lightswitchhelpwebsite.com/Blog/tabid/61/EntryId/4313/Turbocharging-Your-Angular-4-Development-Using-Typewriter.aspx). In it I create the classes and angular services. In my case I found I only need to create the models once, not once per service. In my case I am just using a naming convention.

[2017-11-20 16:11] mailivore opened #238 "Handling date parameter for angular service"
Hi,

I am using this template to generate my service calls :
`public $name($Parameters[$name: $TypeConverter][, ]) : angular.IPromise<$ReturnType> {

            return this.CustomHttpService.request<$ReturnType>({
                url: `$Url` ,
                method: "$HttpMethod",
                data: $RequestData
            });
        };]`

It outputs this function :
`public getByDateArrete(

[2017-11-21 01:42] KamelJabber commented on #237
very nice write  up @ADefWebserver

Interestingly, I ended up with something very similar, although, there are definitely some tips I learned from your article!

[2017-11-21 09:44] rodro75 commented on #232
Yes, that would be great!
I have a standard tst that I use in several solutions and what really change are a bunch of parameters.
Right now whenever I find some problem in my template I have to copy and paste the fix in dozens of files...

[2017-11-29 08:12] marxxxx opened #239 "How can i include multiple projects via Settings.IncludeProject() ?"
Hi,

i would like to restrict the projects used for type generation and therefore explicitly specify them using settings.IncludeProject(). However i can't figure out how to specify multipe projects in a call to IncludeProject() ?
Is there any way to achive this?

Thank you very much!

Kind regards
Markus

[2017-11-30 09:43] frhagn commented on #239
Hi @marxxxx,
Just call `AddProject` multiple times e.g.
[code]

[2017-11-30 10:05] frhagn commented on #238
Hi @mailivore,

There's no built-in way of doing this, but you can use a custom method, e.g.

[code]

[2017-11-30 10:08] #211 closed

[2017-11-30 10:08] #226 closed

[2017-11-30 10:09] #207 closed

[2017-11-30 10:10] #201 closed

[2017-11-30 10:10] #188 closed

[2017-11-30 10:11] #224 closed

[2017-11-30 10:12] frhagn commented on #234
Fixed in 1.16.0

[2017-11-30 10:12] #234 closed

[2017-11-30 10:18] frhagn commented on #231
1.16.0 adds support for rendering ValueTuples in vs 2017, but it's still not possible to use them in Typewriter templates...

The output is an anonymous object, e.g.
`public (string a, int b) MyTuple { get; set, }`
will render
`MyTuple: { a: string, b: number };`

[2017-11-30 10:18] #231 closed

[2017-12-01 06:29] marxxxx commented on #239
Great, thanks!! @frhagn

[2017-12-01 06:29] #239 closed

[2017-12-01 09:22] 19317362 opened #240 "How to generate System.Type to TS？"
The class look like this.

class MyModel
{
	public string NoneSearchValue { get; set; }
        public Type DataType { get; set; }
}

[2017-12-03 11:47] tolemac opened #241 "Error processing queue: Did not find new element in the hierarchy for item ..."
Hi!

I'm using TypeWriter to generate Dtos from C# to frontend typescript project.

I'm using `OutputFilenameFactory` to save file in the frontend project folder instead of backend project folder, and I'm getting this error:

[code]

The worst is that this error stops the typewriter generation.

When I don't use `OutputFilenameFactory` the problem is gone, works fine.

There are someway to tell Ty

[2017-12-05 23:13] D-Bullock commented on #210
Did you find any solution to your issue?

[2017-12-05 23:43] cwoolum commented on #210
Unfortunately not.

[2017-12-06 00:10] D-Bullock commented on #210
What I did as a bit of a hack is to give each source of imports an alias. It's not ideal...

[2017-12-06 00:27] Beej126 commented on #210
maybe this is obvious, but any custom functions you place at the outermost scope of the template will receive the "File" type, which then has Classes property and then each Class has a NestedClasses property... so you should be able to iterate over everything and generate what you need...

here's my example so you see some real code... we went with convention of explicitly tagging desired classes

[2017-12-07 19:15] #241 closed

[2017-12-12 09:39] marxxxx opened #243 "Typewriter throws exception: rror processing queue: Object reference not set to an instance of an object."
Since yesterday i get the following exception on every render and i can't figure out what the reason is.

[code]

I tried to check for every null possible in my tst file but i guess this is not the reason for the problem.

My tst file looks like this:
[code]

Thank you very much for your support!

[2017-12-12 09:58] marxxxx commented on #243
Answering my own question:

The problem occurred after i moved the generation of the typescript files to a different project along with the generated .ts files and included them with "Include in Project" in the Visual Studio Project.

Typewriter obviously requires it's generated items to be in a special format in the csproj file so it recognizes which ones were auto-generated.

Solution was to del

[2017-12-12 09:58] #243 closed

[2017-12-16 03:41] jeeshenlee opened #244 "Can't get the default value for Type"
Tried to get the default value of the Type but can't seems to be able to do it. $Default is not available in the intellisense.

`        constructor() { $Properties[
            this.$Name = this.$Type[//Default value of type];]
        }
`

![typewriter-01](https://user-images.githubusercontent.com/1011777/34067052-ec4019ac-e255-11e7-99c9-a48374ada9ce.jpg)

[2017-12-16 18:04] frhagn commented on #244
Hi @jeeshenlee,

$Default is an extension method so you'll need to include the `Typewriter.Extensions.Types` namespace. e.g.
[code]

[2017-12-19 15:41] michaelaird commented on #229
I haven't tried it but, the most recent release that includes the option to not add files to the project might now work with website project types.

[2017-12-21 19:01] styfle commented on #196
This is a duplicate of #133

[2017-12-27 11:33] Apostolos-Daniel commented on #133
Rendering a Typewriter template outside VS would be really useful - would allow for generating the TypeScript files as part of the build. Has anyone found a solution for this other than waiting for the new version of Typewriter?

@frhagn Is there an ETA for version 2? Good work - we have found Typewriter extremely useful!

[2017-12-27 16:11] RGVGreatCoder opened #245 "Render from another non-referenced project in same solution"
I have a Visual Studio 2017 Solution made of a Web API back-end project (ASP.Net Cor 2.0) and a front-end project (Angular 5, Bootstrap). This solution runs fine without having to set the front-end project to reference the back-end project (there is no need to). These two projects run on separate websites in my IIS 10.0 Web Server.
Having installed Typewriter on the front-end project, how do I con

[2017-12-30 18:26] frhagn commented on #245
Hi @RGVGreatCoder,
As long as the projects are in the same solution you can include the back-end project in the template constructor. e.g.

[code]

[2017-12-31 01:15] RGVGreatCoder commented on #245
Thank you frhagn. I will try this next year. By the way. Happy New Year!